{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div id="wrapper" class="mzp-l-content mzp-t-mozilla">
      <main role="main">

        
<section class="job-post" id="job-post">
  <div class="job-row">
    <div>
      <div class="job-title">
        <strong>Build Engineer</strong>
      </div>
      <div class="title-location">
        at 
        
          Mozilla Corporation
        
      </div>
      <dl class="mzp-u-list-styled">
        
          <dt class="job-post-team-head">Team:</dt>
          <dd class="job-post-team">Core Product-Firefox</dd>
        
        <dt class="job-post-location-head">Locations:</dt>
        <dd class="job-post-location">Portland Office, Berlin Office, Toronto Office, Remote Canada, Remote US</dd>
      </dl>
    </div>
    <div class="appy-btn">
      <a href="https://boards.greenhouse.io/mozilla/jobs/3128257" class="mzp-c-button">Apply Now</a>
    </div>
  </div>
  <div class="appy-btn-sm apply-sm">
    <a href="https://boards.greenhouse.io/mozilla/jobs/3128257" class="mzp-c-button">Apply Now</a>
  </div>
  <div>
    
<h4><strong>The Company</strong></h4>
<p>A lot of companies say they’re “mission-driven”. Our unique corporate structure guarantees that every decision we make upholds our mission: to make sure the internet stays available, safe, and welcoming to everyone. Beholden to neither shareholders nor investors, Mozilla Corporation is wholly owned by the not-for-profit Mozilla Foundation.</p>
<p>Along with 20,000+ volunteer contributors and collaborators all over the world, Mozilla Corporation’s staff designs, builds, and distributes software that allows people to enjoy the internet on their own terms. Our flagship product — the Firefox browser — has expanded into a family of products that protects users and alerts them of risks.</p>
<h4><strong>The Opportunity</strong></h4>
<p>Firefox developers land code every day to delight users with new features and improve product performance and security. The Engineering Workflow team is responsible for the build system code that transforms this raw code into a binary that can be packaged, signed, tested and released to the worldwide community that explores the web with Firefox. Hundreds of Firefox developers run local builds every day. Our continuous integration farm runs over 12,000 build jobs a day. We are force-multipliers to enable Firefox developers to do their best work.</p>
<h4><strong>What You'll Get To Do</strong></h4>
<ul>
<li>Work with a geographically-distributed development team</li>
<li>Implement build system improvements to support new and existing Firefox platforms</li>
<li>Be mentored by more senior team members</li>
<li>Collaborate with other teams by providing code review and technical direction&nbsp;</li>
<li>Modernize tooling for faster build times to accelerate developer productivity</li>
</ul>
<h4><strong>What You Bring</strong></h4>
<ul>
<li>You’re pragmatic about how to move things forward in specific timeframes including trade-offs and safeguards when implementing new functionality</li>
<li>Be an excellent communicator and have participated effectively on a distributed team</li>
<li>You have a proven track record of finishing projects where the work spans several months&nbsp;</li>
</ul>
<h4><strong>Minimum Qualifications</strong></h4>
<ul>
<li>Experience with compiled languages, executable formats, and related tools</li>
<li>A working knowledge of C/C++</li>
<li>Proficiency in a scripting language such as Python</li>
</ul>
<h4><strong>Bonus points for</strong></h4>
<ul>
<li>Experience working with legacy build systems such as make</li>
<li>Experience working with modern build systems such as Bazel, Buck or Blaze.</li>
<li>A working knowledge of Rust</li>
</ul>
<ul>
<li>Low level system experience on Linux, Windows, and/or Mac</li>
</ul>
<h4><strong>About Mozilla</strong></h4>
<p>Mozilla exists to build the Internet as a public resource accessible to all because we believe that open and free is better than closed and controlled. When you work at Mozilla, you give yourself a chance to make a difference in the lives of Web users everywhere. And you give us a chance to make a difference in your life every single day. Join us to work on the Web as the platform and help create more opportunity and innovation for everyone online.</p>
<h4><strong>Commitment to diversity, equity, inclusion, and belonging</strong></h4>
<p>Mozilla understands that valuing diverse creative practices and forms of knowledge are crucial to and enrich the company’s core mission.&nbsp; We encourage applications from everyone, including members of all equity-seeking communities, such as (but certainly not limited to) women, racialized and Indigenous persons, persons with disabilities, persons of all sexual orientations, gender identities and expressions.</p>
<p>We will ensure that qualified individuals with disabilities are provided reasonable accommodations to participate in the job application or interview process, to perform essential job functions, and to receive other benefits and privileges of employment, as appropriate. Please contact us at hiringaccommodation@mozilla.com to request accommodation.</p>
<p>We are an equal opportunity employer. We do not discriminate on the basis of race (including hairstyle and texture), religion (including religious grooming and dress practices), gender, gender identity, gender expression, color, national origin, pregnancy, ancestry, domestic partner status, disability, sexual orientation, age, genetic predisposition, medical condition, marital status, citizenship status, military or veteran status, or any other basis covered by applicable laws.&nbsp; Mozilla will not tolerate discrimination or harassment based on any of these characteristics or any other unlawful behavior, conduct, or purpose.</p>

<p>Group: D</p>
<p>#LI-REMOTE</p>


  </div>
  <div class="c-apply-button-container">
    <a href="https://boards.greenhouse.io/mozilla/jobs/3128257" class="mzp-c-button">Apply for this job</a>
    <small>
      <a rel="external" href="https://assets.mozilla.net/pdf/Mozilla_Applicant_Privacy_Notice_May_2021.pdf">Applicant Privacy Notice</a>
    </small>
  </div>
</section>

<section id="why" class="mzp-c-call-out">
  <div class="mzp-l-content">
    <h2 class="mzp-c-call-out-title">Why Mozilla?</h2>
    <p class="mzp-c-call-out-desc">
      At Mozilla, we’re serving humanity—by maintaining a safe, open internet—while also
      helping the individual humans employed here to reach their personal and
      professional goals. With a relatively small team serving hundreds of millions of
      people, a culture of exploration, and a commitment to mentorship, opportunities
      abound to learn and grow at Mozilla.
    </p>
  </div>
</section>

<br />

<section class="mzp-l-card-third">
  <div class="mzp-c-card">
    <div class="mzp-c-card-content">
      <h3 class="mzp-c-card-title">Our values drive our actions</h3>
      <div class="mzp-c-card-desc">
        <ul class="mzp-u-list-styled">
          <li>
            Purpose is built into our work, with our mission driving every decision
          </li>
          <li>We challenge assumptions, the status quo, ourselves, and each other</li>
          <li>
            We are transparent: in our code, our business partnerships, and our everyday
            interactions
          </li>
          <li>
            We seek out people from diverse backgrounds and with perspectives different
            from our own
          </li>
          <li>We pair purpose with performance and put people ahead of profit</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mzp-c-card">
    <div class="mzp-c-card-content">
      <h3 class="mzp-c-card-title">Our impact is global</h3>
      <div class="mzp-c-card-desc">
        <ul class="mzp-u-list-styled">
          <li>700+ paid staff from over 30 countries</li>
          <li>Thousands of volunteer contributors across six continents</li>
          <li>
            9 global offices: Mountain View, San Francisco, Portland, Vancouver,
            Toronto, Paris, London, Berlin, and Beijing
          </li>
          <li>Hundreds of home offices globally</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mzp-c-card">
    <div class="mzp-c-card-content">
      <h3 class="mzp-c-card-title">Our benefits are world-class</h3>
      <div class="mzp-c-card-desc">
        <ul class="mzp-u-list-styled">
          <li>Flexible work environment (nearly half of Mozillians work remotely)</li>
          <li>
            Industry-leading paid parental leave (up to 26 weeks of fully paid leave for
            childbearing parents and up to 12 weeks for non-childbearing parents)
          </li>
          <li>Reimbursement for professional development (up to $3,000/year)</li>
          <li>A work setup including the latest hardware and software of your choice</li>
        </ul>
      </div>
    </div>
  </div>
</section>



      </main>
    </div>
{% endblock %}
