li {
    list-style-type: none;
}

.wrapper {
    margin: 0px 20px 0px 20px;
    text-align: center;
    width: 940px;
}

.logo {
    float: left;
    font-size: 20px;
    padding-top: 15px;
    text-align: left;
}

.headline {
    font-size: 20px;
}

#breadcrumbs a.home {
    background: url('../img/template/breadcrumb-home.png') no-repeat;
}

#main {
    margin: 0px 20px 0px 20px;
    min-height: 200px;
}

#sections {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 380px;
}

#sections li {
    float: left;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    width: 95px;
}

#sections li.last {
    margin-right: 0px;
}

#sections li a {
    color: #669be1;
}

#sections li a:hover, #sections li a:focus {
    cursor: pointer;
}

#sections li a.active, .secondary li a.active {
    color: #666;
    font-weight: bold;
}

#sections li a.active:hover, #sections li a.active:focus {
    cursor: default;
    text-decoration: none;
}

.secondary li a.active {
    cursor: default;
    font-size: 14px;
}

.secondary li a.active:hover {
    text-decoration: none;
}

.role-group.large {
    clear: both;
    display: block;
    float: left;
    text-align: left;
}

.role-group.large > ul {
    border-top: 1px solid #eee;
    float: left;
    margin-right: 40px;
    width: 286px;
}

.role-group.large.last > ul {
    margin-right: 0px;
}

.role-group.large ul.last {
    margin-right: 0px;
}

.role-group.large li {
    line-height: 19px;
}

.role-group.large li h2 {
    color: #000;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.role-group li a {
    color: #669be1;
}

.role-group li a.disabled {
    color: #ccc;
    cursor: default;
}

.role-group li a.disabled:hover {
    color: #ccc;
    text-decoration: none;
}

.role-group li a.active {
    color: #669be1;
}

.primary {
    float: left;
    width: 600px;
    line-height: 18px;
}

.primary .locations {
    margin-bottom: 20px;
    font-size: 15px;
}

.secondary {
    float: right;
    margin-top: 10px;
    width: 250px;
}

.primary h1, .primary h2 {
    font-size: 28px;
    line-height: 30px;
}

#why-mozilla {
    clear: both;
    float: left;
    margin-top: 40px;
}

#why-mozilla h3 {
    font-style: normal;
    margin-bottom: 20px;
}

#why-mozilla ul {
    padding-left: 40px;
}

#why-mozilla ul li {
    list-style-type: disc;
}

.apply {
    clear: both;
    float: left;
    margin-top: 20px;
}

#job-apply {
    background-color: #6194d7;
    border-bottom: 3px solid #4e76ab;
    border-radius: 5px;
    -moz-box-shadow: #dde0e4 0px 3px 0px;
    -webkit-box-shadow: #dde0e4 0px 3px 0px;
    box-shadow: #dde0e4 0px 3px 0px;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    padding: 9px 15px 9px 15px;
}

.secondary h2 {
    font-size: 20px;
}

.secondary li {
    margin-bottom: 6px;
}
