.wrapper {
    text-align: center;
}

h1.home-heading {
    font-size: 57px;
    font-weight: bold;
    margin: 1em 0 0.1em 0;
}

.logo {
    float: left;
    font-size: 20px;
    padding-top: 15px;
    text-align: left;
    width: 200px;
}

#sections {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 450px;
}

#sections li {
    float: left;
    font-size: 14px;
    text-align: center;
    width: 90px;
}

#sections li.last {
    margin-right: 0px;
}

#sections li a {
    color: #669be1;
}

#sections li a:hover, #sections li a:focus {
    cursor: pointer;
}

#sections li a.active, .secondary li a.active {
    color: #666;
    font-weight: bold;
}

#sections li a.active:hover, #sections li a.active:focus {
    text-decoration: none;
    cursor: default;
}

.secondary li a.active {
    cursor: default;
    font-size: 14px;
}

.secondary li a.active:hover {
    text-decoration: none;
}

.role-group.large {
    clear: both;
    display: block;
    float: left;
    text-align: left;
}

.role-group.large > ul {
    border-top: 1px solid #eee;
    float: left;
    margin-right: 20px;
    width: 300px;
}

.role-group.large ul.last {
    margin-right: 0px;
}

.role-group.large li {
    line-height: 19px;
}

.role-group.large li h2 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}

.role-group li a {
    color: #669be1;
}

.role-group li a.disabled {
    color: #ccc;
    cursor: default;
}

.role-group li a.disabled:hover {
    color: #ccc;
    text-decoration: none;
}

.role-group li a.active {
    color: #669be1;
}

.primary {
    float: left;
    width: 600px;
    line-height: 18px;
}

.primary .locations {
    margin-bottom: 20px;
    font-size: 15px;
}

.secondary {
    float: right;
    margin-top: 10px;
    width: 250px;
}

.primary h1 {
    font-size: 28px;
    font-weight: bold;
}

.apply {
    clear: both;
    float: left;
    margin-top: 20px;
}

#job-apply {
    background-image: linear-gradient(bottom, rgb(98,144,49) 30%, rgb(134,182,82) 65%, rgb(134,182,82) 83%);
    background-image: -o-linear-gradient(bottom, rgb(98,144,49) 30%, rgb(134,182,82) 65%, rgb(134,182,82) 83%);
    background-image: -moz-linear-gradient(bottom, rgb(98,144,49) 30%, rgb(134,182,82) 65%, rgb(134,182,82) 83%);
    background-image: -webkit-linear-gradient(bottom, rgb(98,144,49) 30%, rgb(134,182,82) 65%, rgb(134,182,82) 83%);
    background-image: -ms-linear-gradient(bottom, rgb(98,144,49) 30%, rgb(134,182,82) 65%, rgb(134,182,82) 83%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(98,144,49)),
        color-stop(0.65, rgb(134,182,82)),
        color-stop(0.83, rgb(134,182,82))
    );
    background-color: #86b652;
    border: 1px solid #8ba56f;
    border-radius: 5px;
    box-shadow: #666 1px 1px 2px;
    color: #efffde;
    padding: 6px 15px 6px 15px;
    text-shadow: #6da037 1px 1px 2px;
}

.secondary h2 {
    font-size: 20px;
}

.secondary li {
    margin-bottom: 6px;
}
