#uintro {
    background-image: url(/static/img/university-banner-920.jpg);
}

#uintro h2 {
    height: 400px;
}

.video-js {
    padding-top: 56.25%
} /* reset to make videos fluid */

.vjs-poster img {
    height: 100%;
    width: 100%;
}
