/*  -------------------------------------------------------------------
    Elements using font icons
    ------------------------------------------------------------------- */

.apply-closed:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
/*  -------------------------------------------------------------------
    University Intro
    - big banner with paragraphs and buttons stacked underneath
    - image is actually the h2 tag to responsivly load appropriate image without loading wrong one first
        - all background-image definitions should be inside media queries
        - see: http://timkadlec.com/2012/04/media-query-asset-downloading-results/
    - buttons become absolute positioned and display over banner at big enough sizes
    - paragraphs float left and right when large enough
    ------------------------------------------------------------------- */

#uintro {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    position: relative;
    color: #fff;
    background-color: #4d4e53;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

#uintro h2 {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: 264px;
    margin: 0 auto;
    padding-top: 90px;
    background-color: #97938c;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 32px;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#uintro p {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
}

    #uintro p:first-child {
        color: #a2a2a9;
        font-family: 'Open Sans Light', sans-serif;
        font-size: 26px;
        line-height: 1.25;
    }

@media (max-width: 320px) {
    #uintro h2 {
        background-image: url(/static/img/university-banner-320.jpg);
    }
}

@media (min-width: 321px) and (max-width: 680px) {
    #uintro h2 {
        background-image: url(/static/img/university-banner-680.jpg);
    }
}

@media (min-width: 681px) {
    #uintro {
        padding-bottom: 10px;
    }

    #uintro h2 {
        height: 376px;
        padding-top: 120px;
        background-image: url(/static/img/university-banner-920.jpg);
        font-size: 50px;
        line-height: 1;
    }

    #uintro p {
        float:right;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 50%;
        margin-top: 40px;
        padding:0 0 0 10px;
        font-size: 14px;
    }
        #uintro p:first-child {
            float: left;
            padding:0 10px 0 0;
            font-size: 20px;
        }

    #uintro .cta {
        position: absolute;
        top: 250px;
        right: 50.5%;
    }

     #uintro .cta + .cta {
         right: auto;
         left: 50.5%;
     }
}

@media (min-width: 921px) {
    #uintro {
        padding-bottom: 25px;
    }

    #uintro h2 {
        height: 500px;
        padding-top: 170px;
        background-image: url(/static/img/university-banner-1280.jpg);
        font-size: 60px;
    }

     #uintro p {
        font-size: 18px;
    }
        #uintro p:first-child {
            font-size: 26px;
        }


    #uintro .cta {
        top: 350px;
    }
}

@media (min-width: 1281px) {
    #uintro h2 {
        background-image: url(/static/img/university-banner-1680.jpg);
    }
}

@media (min-width: 1681px) {
    #uintro h2 {
        background-image: url(/static/img/university-banner-2560.jpg);
    }
}

/*  -------------------------------------------------------------------
    It's Different
    - small screen sizes have title above and list below
    - desktop has title to left list to right
    - mobile does not have cup and phone
    - without javascript the lists stack vertically
    ------------------------------------------------------------------- */

#different {
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #f7f6f2;
}

#different > .contain {
    max-width: 500px;
}

#different-list-head-spacer {
    display: none;
}

.different-head {
    max-width: 400px; /* to cause line break at period */
    margin: 0 0 15px 0;
    font-family: 'Open Sans Light',sans-serif;
    font-size: 38px;
}

.different-subhead {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #7f8089;
    font-size: 15px;
    line-height: 1.2;
}

    .different-subhead:after {
        content: '';
        position: relative;
        top: 20px;
        left: 50%;
        display: block;
        width: 940px;
        margin-left: -460px;
        border-bottom: 1px solid #deddd9;

    }

#different-lists {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}

.different-list {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    width: 100%;
}

    .different-list > ul {
        padding-left: 30px;
        font-size: 15px;
        color: #4d4e53;
        -webkit-transition: opacity 0.5s;
                transition: opacity 0.5s;
    }

    .different-list > ul > li {
        margin: 15px 0;
    }

    .different-list h3 {
        position:relative;
        z-index: 1;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        border: 1px solid transparent;
        margin-top: 0;
        padding: 6px 9px;
        background-color: #d6d4ce;
        color: inherit;
        font-size: 18px;
        text-align: center;
        text-shadow: none;
    }

        .different-list h3:focus {
            outline: 0;
            border: 1px solid #0095dd;
        }

@media (max-width: 920px) {
    .js-enabled .different-list#different-not {
        position: absolute;
        top: 0;
        left: 0;
    }

    .js-enabled .different-list > ul {
           opacity: 0;
        }

        .js-enabled .different-list-current > ul{
            opacity: 1;
        }

    .js-enabled .different-list h3 {
        width: 49.5%;
    }

        .js-enabled .different-list#different-not h3 {
            margin-left: 50.5%;
        }

    .different-list-current h3 {
        background-color: #0095dd;
        color: #fff;
        text-shadow: 0 1px 0 #757d82;
    }

        .js-disabled .different-list-current h3 {
            position: relative;
            z-index: 1;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
            border: 1px solid transparent;
            margin-top: 0;
            padding: 6px 9px;
            background-color: #d6d4ce;
            color: inherit;
            font-size: 18px;
            text-align: center;
            text-shadow: none;
        }

        .different-list-current h3:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            display: block;
            margin-left: -10px;
            border-top: 10px solid #0095dd;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 0;
        }

            .js-disabled .different-list-current h3:after{
                content: none;
            }

}
@media (min-width: 681px) {

    #different {
        padding-top: 40px;
        padding-bottom: 25px;
    }

        #different:before,
        #different:after,
        .different-object {
            content: '';
            position: absolute;
            z-index: 3;
            display: block;
            height: 260px;
            width: 270px;
            background: url(/static/img/different-sprites-tablet.png);
            -webkit-transition: margin 1s ease-out;
                    transition: margin 1s ease-out;
        }

        #different:before,
        .different-object-cup {
            top: 150px;
            right: 50%;
            margin-right: 200px;
        }

        #different:after,
        .different-object-phone {
            left: 50%;
            bottom: -60px;
            height: 410px;
            width: 320px;
            margin-left: 190px;
            background-position: -275px -15px;
        }

        .different-object {
            display: none;
        }

    #different > .contain {
        max-width: 800px;
    }

     .different-head {
        max-width: 620px;
        font-family: 'Open Sans', sans-serif;
        font-size: 28px;
     }

     .different-subhead {
        padding-right: 20px;
        font-family: 'Open Sans Light', sans-serif;
        font-size: 26px;
     }

     .different-list > ul {
        font-size: 14px;
     }
}


@media (min-width: 921px) {
    #different {
        padding-top: 0;
        padding-bottom: 45px;
    }

        #different:before,
        #different:after,
        .different-object {
            z-index: 5;
            height: 320px;
            width: 350px;
            margin-right: 320px;
            background: url(/static/img/different-sprites-desktop.png);
        }

        #different:before,
        .different-object-cup {
            top: 160px;

        }

        #different:after,
        .different-object-phone {
            bottom: -90px;
            height: 550px;
            width: 400px;
            margin-right: 0;
            margin-left: 300px;
            background-position: -355px -15px;
        }

        /* parallax - uses elements added by javascript */
        #different.different-objects:before,
        #different.different-objects:after {
            content: none;
        }

        .different-object {
            display: block;
        }

        .different-object-cup {
            margin-right: 1300px;
        }
            .different-cup-show .different-object-cup {
                margin-right: 320px;
            }

        .different-object-phone {
            margin-left: 1290px;
        }
            .different-phone-show .different-object-phone {
                margin-left: 300px;
            }

        #different.pin  .different-object-cup {
            position: fixed;
            top: 260px;
        }

        #different.pin.pin-past .different-object-cup {
            position: absolute;
            top: auto;
            bottom: 167px;
        }

    #different > .contain {
        max-width: 940px;
    }

    #different.pin #different-list-head-spacer {
        display: block;
    }

    #different.pin .different-lists-head {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
        padding-top: 100px;
        background-color: inherit;
    }

    #different.pin-past .different-lists-head {
        position: absolute;
        top: auto;
        bottom: 443px;
        width: 100%;
    }

    .different-head {
        max-width: 100%;
        padding-top: 50px;
        font-family: 'Open Sans',sans-serif;
        font-size: 38px;
     }

     .different-subhead {
        margin-top: 20px;
        margin-bottom: 0;
        padding-right: 170px;
        padding-bottom: 25px;
        font-family: 'Open Sans Light',sans-serif;
        font-size: 26px;
     }

         .different-subhead:after {
             top: 25px;
             left: 0;
             margin-left: 0;
         }

    #different-lists {
        max-width: 660px;
    }

    .different-list {
        position: relative;
        padding-top: 30px;
    }

    .different-list > h3 {
        position: absolute;
        top: 30px;
        width: 320px;
        margin: 0;
        padding: 0 20px;
        background-color: transparent;
        color: #d0cfcf;
        text-shadow: 1px 0 0 #d0cfcf, -1px 0 0 #d0cfcf, 0 1px 0 #d0cfcf, 0 -1px 0 #d0cfcf;
        font-size: 100px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -4px;
        text-align: left;
        text-transform: uppercase;
    }

        .different-list h3:focus {
            border: 0;
        }

        .different-list.pin > h3 {
            position: fixed;
            top: 333px;
        }

        .different-list.pin-past > h3 {
            position: absolute;
            top: auto;
            bottom: 60px;
        }

    .different-list > ul {
        float: right;
        width: 310px;
        margin-top: 0;
        margin-bottom: 60px;
        font-size: 18px;
     }

         .moz-no-touch .different-list > ul { /* parallax only */
             padding-top:100px;
         }

     .different-list > ul > li:first-child {
         margin-top: 12px;
     }

}


/*  -------------------------------------------------------------------
    Things You'll Want to Know
    ------------------------------------------------------------------- */

#know {
    position: relative;
    padding: 30px 0;
    background: #1d1b19;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #fff;
    font-size: 15px;
    text-align: center
}

#know .caroufredsel_wrapper {
    margin: 0 auto !important; /* overridding inline properties of js injected code */
}

.know-head {
    max-width: 200px;
    margin: 0 auto;
    font-size: 26px;
}

.know-box {
    width: 100%;
    margin-bottom: 30px;
}

.know-box > h3 {
    position: relative;
    min-height: 80px;
    padding-bottom: 20px;
    line-height: 1.5;
}

    .know-box > h3:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 28px;
        margin-left: -14px;
        border-top: 1px solid #c13832;
    }

    .know-box > h3 > strong {
        display: block;
        color: #c13832;
        font-family: 'Open Sans Light',sans-serif;
        font-size: 42px;
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;
    }

.know-box > p {
    padding-left: 10px;
    padding-right: 10px;
}

.js-enabled .know-box > h3 {
    padding: 0 40px 20px 40px;
}

.js-enabled .know-box {
    display: block;
    float: left;
    text-align: center;
}

@media (min-width:681px) {
     #know {
         padding: 40px 0;
         font-size: 14px;
     }

     .know-head {
         max-width: none;
         margin-bottom: 30px;
         font-size: 28px;
         text-align: center;
     }

    #know-boxes {
       margin: 0 -20px 0 0;
    }

    .caroufredsel #know-boxes {
        margin: 0;
    }

        #know-boxes:after {
            content: "";
            display: table;
            clear: both;
        }

    .know-box {
        float: left;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 25%;
        padding-right: 20px;
        font-size: 11px;
        text-align: left;
    }

        .caroufredsel .know-box {
            padding: 0;
            font-size: 14px;
        }

    .know-box > h3 {
        width: 80%;
        height: 70px;
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
    }

        .js-enabled .know-box > h3 {
            padding: 0; /* override carousel heading padding */
        }

        .know-box > h3 > strong {
            font-size: 32px;
        }
}

@media (min-width:921px) {
    #know {
        z-index: 2; /* to cover different section until it is unpinned */
        padding: 60px 0;
        font-size: 18px;
    }

    .know-head {
        margin-bottom: 50px;
        font-size: 38px;
    }

    #know-boxes {
        margin-bottom: 10px;
    }

    .know-box {
        font-size: 15px;
    }

        .moz-no-touch .know-box {
            opacity: 0.2;
             -webkit-transition: opacity 0.5s ease-in;
                     transition: opacity 0.5s ease-in;
        }

            .caroufredsel .know-box,
            .moz-no-touch .know-box.past {
                opacity: 1;
            }

    .know-box > h3 {
        min-height: 100px;
        font-size: 18px;
    }

    .know-box > h3 > strong {
        font-size: 42px;
    }
}

/* background declarations */

@media (max-width: 320px) {
    #know {
        background-image: url(/static/img/know-bg-320.jpg);
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    #know {
        background-image: url(/static/img/know-bg-768.jpg);
    }
}

@media (min-width: 761px) {
    #know {
        background-image: url(/static/img/know-bg-1100.jpg);
    }
}

/*  -------------------------------------------------------------------
    Testimonials
    - with JS off testimonials look like the blocks that display individually in mobile
        - in mobile they stack
        - on larger screens they each fill 33.3% of space and float left
    - with JS on the mobile ones become a swipable slide show
    - with JS on the desktop ones become clickable and the quotes cross fade into the same space
    ------------------------------------------------------------------- */

#testimonials {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    position: relative;
}

.testimonials {
    margin: 0 auto;
    max-width: 320px;
}

.testimonial {
    position: relative;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 320px;
    margin: 20px 0;
    background-color: #4d4e53;
    color: #d7d3c8;
    padding: 25px 20px 233px 20px;
    font-family: 'Open Sans Light',sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

    .testimonial:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50px;
        z-index: 1;
        display: block;
        margin-bottom: 61%;
        border-top: 19px solid #4d4e53;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
    }

.testimonial > img {
    position: absolute;
    bottom: 0;
    left: 0;
}

    .testimonial > img:focus {
         outline: 1px solid #4d4e53; /* incase they've resized window down and tabindex is still set */
     }

.testimonial > blockquote {
    margin: 0 0 15px 0;
    font-size: 21px;
    line-height: 1.2;
}

.testimonial > figcaption {
    font-weight: normal;
}

.testimonial > figcaption > strong {
    font-family: 'Open Sans',sans-serif;
}

@media (max-width:680px) {
    .caroufredsel_wrapper  .testimonials {
        max-width: none;
    }

    .js-enabled .testimonial {
        float: left;
        height: 450px;
        margin: 0;
    }

    #testimonials .caroufredsel_wrapper {
        margin: 0 auto !important; /* JS plug in needs reminding to center itself */
    }

    .js-enabled #testimonials:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 237px;
        width: 100%;
        margin-left: -100%;
        padding: 0 100%;
        background-color: #4d4e53;
    }
}

@media (min-width:681px) {
    .testimonials {
        width: 100%;
        max-width: 940px;
    }

    .testimonial > img {
        max-width: 100%;
        height: auto;
    }

    .testimonial {
        float: left;
        width: 33.3%;
        margin: 0;
        padding-bottom: 26%;
    }

    .js-disabled .testimonial {
       min-height: 35em;
    }


    .js-enabled .testimonials {
        position: relative;
        height: 147px;
        padding-bottom: 160px;
    }

    .js-enabled .testimonials:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 147px;
        width: 100%;
        margin-left: -100%;
        padding: 0 100%;
        background-color: #4d4e53;
    }

    .js-enabled .testimonials-pointer {
        content: '';
        position: absolute;
        top: 147px;
        left: 50%;
        z-index: 1;
        display: block;
        margin-left: 0;
        border-top: 19px solid #4d4e53;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        -webkit-transition: margin 1s;
                transition: margin 1s;
    }

    .js-enabled .testimonial {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 147px;
        padding-top: 35px;
        padding-bottom: 0;
        background-color: transparent;
    }

        .js-enabled .testimonial:before {
            content: none;
        }

    .js-enabled .testimonial > blockquote {
        opacity: 0;
        font-size: 20px;
        -webkit-transition: opacity 1s ease-out;
                transition: opacity 1s ease-out;
    }

    .js-enabled .testimonial-current > blockquote {
        opacity: 1;
    }

    .js-enabled .testimonial > img {
        bottom: auto;
        top: 100%;
        left: 33.3%;
        width: 33.3%;
    }

    .js-enabled .testimonial > img:focus {
        z-index: 1;
    }

    .js-enabled .testimonial:first-child  > img {
        left: 0;
    }

    .js-enabled .testimonial:last-child  > img {
        left: 66.6%;
    }

    .js-enabled .testimonial > figcaption {
        opacity: 0;
        font-size: 11px;
        -webkit-transition: opacity 1s;
                transition: opacity 1s;
    }

    .js-enabled .testimonial-current > figcaption {
        opacity: 1;
    }
}


@media (min-width:921px) {
     .js-enabled .testimonials {
        height: 191px;
        padding-bottom: 213px;
     }

    .js-enabled .testimonials:before {
        height: 195px;
    }

    .js-enabled .testimonials-pointer {
        top: 195px;
    }

    .js-enabled .testimonial {
        height: 195px;
    }

    .js-enabled .testimonial > blockquote {
        min-height: 99px;
        font-size: 28px;
    }

    .js-enabled .testimonial > figcaption {
        font-size: 15px;
    }
}

/*  -------------------------------------------------------------------
    Events
    ------------------------------------------------------------------- */

#meetus {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    padding: 30px 0;
    background-color: #ffffff;
}

.events-head {
    margin: 0 0 20px 0;
    font-size: 26px;
}

#meetus table {
    width: 100%;
    border-collapse: collapse;
}

#meetus th {
    font-family: 'Open Sans Light',sans-serif;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}

#meetus tbody tr {
    border-top: 1px solid #ccc;
}

.event-date,
.event-name,
.event-location {
    padding: 5px 0;
}

.event-date {
    color: #b2b2b2;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.event-name {
    font-family: 'Open Sans Light',sans-serif;
    font-size: 22px;
    line-height: 1.2;
}

.event-location {
    color: #b2b2b2;
    font-size: 15px;
}

@media (max-width: 681px) {

    #meetus table,
    #meetus tbody,
    #meetus tr,
    #meetus td {
        display:block;
        float:left;
        width: 100%;
    }

    #meetus thead {
        display: none;
    }

    #meetus tbody tr {
        border-top: 0;
    }

    #meetus td {
        background-color: #fff;
    }

    .event-date {
        padding-top: 20px;
        background: url(/static/img/bg_stripes.gif) top left repeat-x;
    }

    .event-name {
        padding: 4px 0 10px 0;
    }

    .event-location {
        padding-bottom: 26px;
    }

    .event-toggle {
        max-height: 300px;
        overflow: hidden;
        opacity: 1;
        -webkit-transition: max-height 0.5s, opacity 0.8s;
                transition: max-height 0.5s, opacity 0.8s;
    }

    .event-toggle-off {
        max-height: 0;
        opacity: 0;
    }

    #event-toggle-button {
        width: 100%;
        border: 1px solid transparent;
        padding: 5px;
        background-color: #d0cfcf;
        color: #fff;
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-transition: background-color 0.5s, border 0.5s ;
                transition: background-color 0.5s, border 0.5s;
    }

    #event-toggle-button:focus {
        border-color: #4d4e53;
        outline: 0;
    }

    #event-toggle-button:hover,
    #event-toggle-button:active {
        background-color: #4d4e53;
    }
}

@media (min-width:681px) {
    #meetus {
        padding: 50px 0;
    }

    .events-head {
        font-size: 28px;
    }

    #meetus thead {
        display: table-header-group;
    }

    #meetus tr {
        display: table-row;
    }

    #meetus tbody tr {
        border-top: 0;
    }

    #meetus td {
        display: table-cell;
        background: url(/static/img/bg_stripes.gif) top left repeat-x;
        vertical-align: top;
    }

    .event-date {
        width: 25.7%;
        padding: 18px 20px 15px 0;
        font-size: 14px;
    }

    .event-name {
        width: 51%;
        padding: 18px 20px 15px 0;
        font-size: 20px;
    }

    .event-location {
        padding: 18px 0 15px 0;
        font-size: 14px;
    }

    #event-toggle-button {
        display:none;
    }
}

@media (min-width:921px) {
    #meetus {
        padding: 70px 0;
    }

    .events-head {
        margin-bottom: 30px;
        font-size: 38px;
    }

    #meetus thead th {
        font-size: 14px;
    }

    .event-date {
        padding: 25px 20px 20px 0;
        font-size: 18px;
    }

    .event-name {
        padding: 25px 20px 20px 0;
        font-size: 26px;
    }

    .event-location {
        padding: 25px 0 20px 0;
        font-size: 18px;
    }
}

/*  -------------------------------------------------------------------
    Videos
    - mobile gets 3 videos stacked
    - tablet gets 1 wide video controlled by 3 thumbnails beneath it
    - desktop gets 1 wide video controlled by 3 thumbmails to its right
    ------------------------------------------------------------------- */

.js-enabled .video-js { padding-top: 56.25% } /* reset to make videos fluid */
.js-enabled .vjs-fullscreen { padding-top: 0px } /* remove reset when video is in fullscreen */

#videos {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    position: relative;
    padding: 20px 0;
}

#videos .contain {
    max-width: 700px;
}

.videos-head {
    margin: 0 0 30px 0;
    font-size: 26px;
}

.videos-players .video-js {
    margin: 0 0 10px 0;
}

.video {
    margin-bottom: 20px;
}

    .video > figcaption {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.2;
    }

    .video-js.vjs-sandstone-skin .vjs-big-play-button {
        box-shadow: none;
        border: 5px solid #ccc;
        border: 5px solid rgba(255, 255, 255, 0.6);
        background-color: transparent;
    }

        .video-js.vjs-sandstone-skin:hover .vjs-big-play-button {
            border: 5px solid #fff;
            border: 5px solid rgba(255, 255, 255, 1);
        }

        .video-js.vjs-sandstone-skin .vjs-big-play-button span {
            height: 0;
            width: 0;
            margin: -23px 0 0 -14px;
            background: transparent;
            border-top: 24px solid transparent;
            border-right: 0px;
            border-bottom: 24px solid transparent;
            border-left: 40px solid #ccc;
            border-left: 40px solid rgba(255, 255, 255, 0.6);
        }
            .video-js.vjs-sandstone-skin:hover .vjs-big-play-button span {
                border-left: 40px solid #fff;
                border-left: 40px solid rgba(255, 255, 255, 1);
            }

.vjs-poster {
    /* needs a bit of help in IE because parent is responsive */
    position: absolute;
    top: 0;
    left: 0;
}

.videos-thumbs {
    display: none;
}

@media (min-width:681px) {
     #videos {
         padding: 60px 0;
     }

         #videos:before,
         #videos:after {
            content: '';
            position: absolute;
            bottom: 190px;
            left: -80px;
            display: block;
            height: 165px;
            width: 235px;
            background: url(/static/img/videos-sticker-sprites.png);
         }

         #videos:after {
            bottom: 50%;
            right: -60px;
            left: auto;
            display: block;
            height: 320px;
            width: 180px;
            margin-bottom: -380px;
            background-position: -235px -25px;
         }


         #videos .contain {
             position: relative;
             z-index: 1;
         }

             #videos .contain:before {
                content: '';
                position: absolute;
                top: -100px;
                right: 60px;
                height: 165px;
                width: 165px;
                background: url(/static/img/videos-sticker-sprites.png) -20px -165px;
             }

     .videos-head {
         max-width: 420px;
         margin: 0 0 40px 0;
         font-size: 28px;
     }

     .videos-players {
        position:relative;
    }

        .js-enabled .videos-players{
            overflow: hidden;
            height: 0;
            padding-top: 57%;
        }

    .video {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

        .js-enabled .video{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            -webkit-transition: opacity 0.5s;
                    transition: opacity 0.5s;
        }

        .js-enabled .video-current {
            z-index: 90;
            opacity: 1;
        }

    .videos-thumbs {
        display: block;
    }

    .video-thumb {
        position: relative;
        float: left;
        width: 30.3%;
        margin: 15px 1.5% 15px 1.5%;
        border-radius: 3px;
        border: 5px solid transparent;
        padding: 0;
        background-color: transparent;
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        -webkit-transition: background-color 0.5s;
                transition: background-color 0.5s;
    }

        .video-thumb > span {
            display: block;
            padding: 10px 5px 5px 5px;
        }

        .js-enabled .video-thumb-current,
        .js-enabled .video-thumb:hover {
            background-color: #fff;
            cursor: pointer;
        }

        .video-thumb:before {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            padding: 55.8% 0 0 0;
            background: url(/static/img/video-thumbs/thumbs.jpg);
            background-size: 100%;
        }

            .video-thumb-mike:before {
                background-position: 0 50%;
            }

            .video-thumb-james:before {
                background-position: 0 100%;
            }

}

@media (min-width:921px) {
    #videos {
        padding: 80px 0;
    }

        #videos:before {
            left: auto;
            right: 55%;
            bottom: 50px;
            margin-right: 280px;
        }

        #videos:after {
            top: auto;
            bottom: 100px;
            left: 55%;
            margin-bottom: 0;
            margin-left: 350px;
        }

        #videos .contain {
            max-width: 940px;
        }

        #videos .contain:before {
            right: 50%;
            margin-right: -390px;
        }

    .videos-head {
        max-width: 560px;
        margin: 0 0 60px 0;
        font-size: 38px;
    }

     .videos-players {
        float: left;
        width: 75%;
    }

    .js-enabled .videos-players{
        padding-top: 43%;
    }

    .videos-thumbs {
        float: right;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 25%;
        padding-left: 40px;
    }

    .video-thumb {
        width: 100%;
        margin: 0 0 15px 0;
    }
}


/*  -------------------------------------------------------------------
    Gallery
    - gallery-wrapper filled with boxes
    - boxes inherit background image from wrapper
    - js initializes carousel on mobile
        - hides wrapper's background using background-size
        - when sizing up, switches to flexable image in .gallery.band
    - on tablet and desktop flexable background image is created in gallery-wrapper
        - when resizing down to mobile these stay visible
    ------------------------------------------------------------------- */

#gallery {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    position: relative;
}

.gallery-wrapper {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    float: left;
    width: 100%;
    background-image: url(/static/img/gallery-1100.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;

}
    .gallery-wrapper.gallery-carousel {
        float: none;
        background-size: 0%;
    }

#gallery .caroufredsel_wrapper {
    /* override inline styles added by plugin */
    overflow: visible !important;
    margin: 0 auto !important;
}

.gallery-frame {
    position: relative;
    float: left;
    width: 20%;
    height: 0;
    padding-top: 19.9%;
    -webkit-transition: opacity 1s;
            transition: opacity 1s;
}

    .gallery-carousel .gallery-frame {
        height: 220px;
        width: 220px;
        margin: 0 5px;
        padding-top: 0;
        background-image: inherit;
    }

    .gallery-frame-2 { background-position: -220px 0; }
    .gallery-frame-3 { background-position: -440px 0; }
    .gallery-frame-4 { background-position: -660px 0; }
    .gallery-frame-5 { background-position: -880px 0; }
    .gallery-frame-6 { background-position: 0 -220px; }
    .gallery-frame-7 { background-position: -220px -220px; }
    .gallery-frame-8 { background-position: -440px -220px; }
    .gallery-frame-9 { background-position: -660px -220px; }
    .gallery-frame-10 { background-position: -880px -220px; }


#gallery-next,
#gallery-prev {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 45px;
    border: 0;
    padding: 0;
    background: transparent;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
}

#gallery-next {
    left: auto;
    right: 0;
}

    #gallery-next:focus,
    #gallery-next:hover,
    #gallery-prev:focus,
    #gallery-prev:hover {
        background: rgba(0, 0, 0, 0.3);
        opacity: 1;
        outline: none;
    }



/* mobile always has single band */

@media (max-width: 680px) {
}

/* tablet gets flexible double band */
@media (min-width: 681px) {

    #gallery .caroufredsel_wrapper {
        display: none !important; /* over riding inline  styles added by plugin */
    }

    #gallery-next,
    #gallery-prev {
        display:none !important; /* over riding inline  styles added by plugin */
    }

    #gallery-band {
        height: 0;
        padding-top: 20%;
        background-size: 100%;
    }

    .gallery-frame {
        margin: 0;
    }


}

/* desktop gets fixed double band */
@media (min-width: 1101px) {
    #gallery {
        height:440px;
        padding-top: 0;
    }

    #gallery-band {
        height: 0;
        padding-top: 220px;
        background-size: auto;
        background-position: top center;
    }

    .gallery-wrapper {
        max-width: 100%;
        background-size: auto;
        background-repeat: repeat;
    }

    .gallery-frame {
        visibility: hidden;
    }
}
/* add modernizer test for background size - NO, only IE8 falls into this catagory */


/*  -------------------------------------------------------------------
    Apply
    ------------------------------------------------------------------- */

#apply {
    position: relative;
    padding: 40px 0;
    background-color: #4d4e53;
    color: #a2a2a9;
    font-size: 15px;
    text-align:center;
}

#apply h3 {
    position: relative;
    margin-top: 0;
    color: #fff;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
}

    .apply-closed {
        position: relative;
        padding-top: 60px;
    }

     .apply-closed:before {
        content: '\e00b';
        position: absolute;
        top: -7px;
        right: 50%;
        display: block;
        height: 46px;
        width: 51px;
        margin-right: -25px;
        font-size: 46px;
        line-height: 46px;
        text-align: center;
    }

#apply p {
    margin-bottom: 0;
    text-align: left;
}

#apply p a:hover,
#apply p a:focus,
#apply p a:active {
    color: #4bbde6;
}

@media (min-width: 681px) {
    #apply .contain {
        width: 66.6%;
    }

    .apply-open h3 {
        display: inline;
        padding-right: 20px;
    }

    .apply-closed {
        padding-top: 0;
    }

        .apply-closed:before {
            right: 100%;
            margin-right: 0;
        }

    #apply h3,
    #apply p {
        text-align: left;
    }
}

@media (min-width: 921px) {
    #apply {
        padding: 60px 0;
    }
}

