/*  -------------------------------------------------------------------
    University Intro
    - big banner with paragraphs and buttons stacked underneath
    - image is actually the h2 tag to responsivly load appropriate image without loading wrong one first
        - all background-image definitions should be inside media queries
        - see: http://timkadlec.com/2012/04/media-query-asset-downloading-results/
    - buttons become absolute positioned and display over banner at big enough sizes
    - paragraphs float left and right when large enough
    ------------------------------------------------------------------- */

    #uintro {
        overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
        position: relative;
        color: #fff;
        background-color: #4d4e53;
         -webkit-font-smoothing: antialiased;
        text-align: center;
    }

    #uintro h2 {
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        height: 264px;
        margin: 0 auto;
        padding-top: 90px;
        background-color: #97938c;
        background-position: center top;
        background-repeat: no-repeat;
        font-family: 'Open Sans Light',sans-serif;
        font-size: 32px;
        letter-spacing: -1px;
        line-height: 1.25;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }

    #uintro p {
        margin-bottom: 30px;
        font-size: 18px;
        text-align: left;
    }

        #uintro p:first-child {
            color: #a2a2a9;
            font-family: 'Open Sans Light',sans-serif;
            font-size: 26px;
            line-height: 1.25;
        }

    @media (max-width: 320px) {
        #uintro h2 {
            background-image: url(/static/img/university-banner-320.jpg);
        }
    }

    @media (min-width: 321px) and (max-width: 680px) {
        #uintro h2 {
            background-image: url(/static/img/university-banner-680.jpg);
        }
    }

    @media (min-width: 681px) {
        #uintro {
            padding-bottom: 10px;
        }

        #uintro h2 {
            height: 376px;
            padding-top: 120px;
            background-image: url(/static/img/university-banner-920.jpg);
            font-size: 50px;
            line-height: 1;
        }

        #uintro p {
            float:right;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
            width: 50%;
            margin-top: 40px;
            padding:0 0 0 10px;
            font-size: 14px;
        }
            #uintro p:first-child {
                float: left;
                padding:0 10px 0 0;
                font-size: 20px;
            }

        #uintro .cta {
            position: absolute;
            top: 250px;
            right: 50.5%;
        }

         #uintro .cta + .cta {
             right: auto;
             left: 50.5%;
         }
    }

    @media (min-width: 921px) {
        #uintro {
            padding-bottom: 25px;
        }

        #uintro h2 {
            height: 500px;
            padding-top: 170px;
            background-image: url(/static/img/university-banner-1280.jpg);
            font-size: 60px;
        }

         #uintro p {
            font-size: 18px;
        }
            #uintro p:first-child {
                font-size: 26px;
            }


        #uintro .cta {
            top: 350px;
        }
    }

    @media (min-width: 1281px) {
        #uintro h2 {
            background-image: url(/static/img/university-banner-2560.jpg);
        }
    }
/*  -------------------------------------------------------------------
    It's Different
    - small screen sizes have title above and list below
    - desktop has title to left list to right
    - mobile does not have cup and phone
    - without javascript the lists stack one on top of the other and the container expands
    ------------------------------------------------------------------- */

#different {
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #f7f6f2;
}

#different > .contain {
    max-width: 500px;
}

.different-head {
    max-width: 400px; /* to cause line break at period */
    margin: 0 0 15px 0;
    font-family: 'Open Sans Light',sans-serif;
    font-size: 38px;
    line-height: 1.2;
}

.different-subhead {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #7f8089;
    font-size: 15px;
    line-height: 1.2;
}

    .different-subhead:after {
        content: '';
        position: relative;
        top: 20px;
        left: 50%;
        display: block;
        width: 940px;
        margin-left: -460px;
        border-bottom: 1px solid #deddd9;

    }

#different-lists {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}

.different-list {
     overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
     width: 100%;
}

    .different-list > ul {
        padding-left: 30px;
        font-size: 15px;
        color: #4d4e53;
        -webkit-transition: opacity 0.5s;
                transition: opacity 0.5s;
    }

    .different-list > ul > li {
        margin: 15px 0;
    }

    .different-list h3 {
        position:relative;
        z-index: 1;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        border: 1px solid transparent;
        margin-top: 0;
        padding: 6px 9px;
        background-color: #d6d4ce;
        color: inherit;
        font-size: 18px;
        text-align: center;
        text-shadow: none;
    }

        .different-list h3:focus {
            outline: 0;
            border: 1px solid #0095dd;
        }

@media (max-width: 920px) {
    .js-enabled .different-list#different-not {
        position: absolute;
        top: 0;
        left: 0;
    }

    .js-enabled .different-list > ul {
           opacity: 0;
        }

        .js-enabled .different-list-current > ul{
            opacity: 1;
        }

    .js-enabled .different-list h3 {
        width: 49.5%;
    }

        .js-enabled .different-list#different-not h3 {
            margin-left: 50.5%;
        }

    .different-list-current h3 {
        background-color: #0095dd;
        color: #fff;
        text-shadow: 0 1px 0 #757d82;
    }

        .js-disabled .different-list-current h3 {
            position: relative;
            z-index: 1;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
            border: 1px solid transparent;
            margin-top: 0;
            padding: 6px 9px;
            background-color: #d6d4ce;
            color: inherit;
            font-size: 18px;
            text-align: center;
            text-shadow: none;
        }

        .different-list-current h3:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            display: block;
            margin-left: -10px;
            border-top: 10px solid #0095dd;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 0;
        }

            .js-disabled .different-list-current h3:after{
                content: none;
            }

}
@media (min-width: 681px) {

    #different {
        padding-top: 40px;
        padding-bottom: 25px;
    }

        #different:before,
        #different:after {
            content: '';
            position: absolute;
            z-index: 1;
            display: block;
            height: 260px;
            width: 270px;
            background: url(/static/img/different-sprites-tablet.png);
            -webkit-transition: margin 1s ease-out;
                    transition: margin 1s ease-out;
        }

        #different:before {
            top: 150px;
            right: 50%;
            margin-right: 1300px;
        }

        #different:after {
            left: 50%;
            bottom: -60px;
            height: 410px;
            width: 320px;
            margin-left: 1290px;
            background-position: -275px -15px;
        }

        #different.different-cup:before,
        .moz-touch #different:before,
        .js-disabled #different:before {
            margin-right: 200px;

        }

        #different.different-phone:after,
        .moz-touch #different:after,
        .js-disabled #different:after {
            margin-left: 190px;
        }

    #different > .contain {
        max-width: 800px;
    }

     .different-head {
        max-width: 620px;
        font-family: 'Open Sans', sans-serif;
        font-size: 28px;
     }

     .different-subhead {
        padding-right: 20px;
        font-family: 'Open Sans Light', sans-serif;
        font-size: 26px;
     }

     .different-list > ul {
        font-size: 14px;
     }
}


@media (min-width: 921px) {
     #different {
        padding-top: 50px;
        padding-bottom: 45px;
     }

      #different:before,
      #different:after {
            height: 320px;
            width: 350px;
            background: url(/static/img/different-sprites-desktop.png);
      }

      #different:after {
            bottom: -90px;
            height: 550px;
            width: 400px;
            background-position: -355px -15px;
      }

        #different.different-cup:before,
        .moz-touch #different:before,
        .js-disabled #different:before {
            top: 160px;
            margin-right: 320px;
        }

        #different.different-phone:after,
        .moz-touch #different:after,
        .js-disabled #different:after {
            margin-left: 300px;
        }

     #different > .contain {
        max-width: 940px;
    }

    .different-head {
        max-width: 100%;
        font-family: 'Open Sans',sans-serif;
        font-size: 38px;
     }

     .different-subhead {
        margin-top: 20px;
        padding-right: 170px;
        padding-bottom: 30px;
        font-family: 'Open Sans Light',sans-serif;
        font-size: 26px;
     }

         .different-subhead:after {
             top: 25px;
             left: 0;
             margin-left: 0;
         }

    #different-lists {
        max-width: 660px;
    }

    .different-list > h3 {
        float: left;
        width: 320px;
        padding: 0 20px;
        background-color: transparent;
        color: #d0cfcf;
        text-shadow: 1px 0 0 #d0cfcf, -1px 0 0 #d0cfcf, 0 1px 0 #d0cfcf, 0 -1px 0 #d0cfcf;
        font-size: 100px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -4px;
        text-align: left;
        text-transform: uppercase;
    }

    .different-list > ul {
        float: right;
        width: 310px;
        margin-top: 0;
        margin-bottom: 60px;
        font-size: 18px;
     }

        #different-not > ul {
            margin-bottom: 0;
        }

     .different-list > ul > li:first-child {
         margin-top: 12px;
     }

}

/*  -------------------------------------------------------------------
    Things You'll Want to Know
    ------------------------------------------------------------------- */

#know {
    position: relative;
    padding: 30px 0;
    background: #1d1b19;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #fff;
    font-size: 15px;
    text-align: center
}

.caroufredsel_wrapper {
    margin: 0 auto !important; /* overridding inline properties of js injected code */
}

.know-head {
    max-width: 200px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.2;
}

.know-box {
    width: 100%;
    margin-bottom: 30px;
}

.know-box > h3 {
    position: relative;
    min-height: 80px;
    padding-bottom: 20px;
}

    .know-box > h3:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 28px;
        margin-left: -14px;
        border-top: 1px solid #c13832;
    }

    .know-box > h3 > strong {
        display: block;
        color: #c13832;
        font-family: 'Open Sans Light',sans-serif;
        font-size: 42px;
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;
    }

.know-box > p {
    padding-left: 10px;
    padding-right: 10px;
}

#know-boxes-pager {
    margin:15px 0 1px 0;
    width:100%;
    text-align:center;
}

    #know-boxes-pager > a {
        display: inline-block;
        height: 0;
        width: 8px;
        overflow: hidden;
        border-radius: 100%;
        margin:0 6px;
        padding-top: 8px;
        background-color: #9e9e9e;
    }

        #know-boxes-pager > a:hover,
        #know-boxes-pager > a:focus,
        #know-boxes-pager > a:active {
            background-color: #cccccc;
        }

        #know-boxes-pager > a.selected {
            background-color: #0095dd;
        }

.js-enabled .know-box > h3 {
    padding: 0 40px 20px 40px;
}

.js-enabled .know-box {
    display: block;
    float: left;
    text-align: center;
}

@media (min-width:681px) {
     #know {
         padding: 40px 0;
         font-size: 14px;
     }

     .know-head {
         max-width: none;
         margin-bottom: 30px;
         font-size: 28px;
         text-align: center;
     }

    #know-boxes {
       margin: 0 -20px 0 0;
    }

    .caroufredsel #know-boxes {
        margin: 0;
    }

        #know-boxes:after {
            content: "";
            display: table;
            clear: both;
        }

    .know-box {
        float: left;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 25%;
        padding-right: 20px;
        font-size: 11px;
        text-align: left;
    }

        .caroufredsel .know-box {
            padding: 0;
            font-size: 14px;
        }

    .know-box > h3 {
        width: 80%;
        height: 70px;
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
    }

        .js-enabled .know-box > h3 {
            padding: 0; /* override carousel heading padding */
        }

        .know-box > h3 > strong {
            font-size: 32px;
        }
}

@media (min-width:921px) {
    #know {
        padding: 60px 0;
        font-size: 18px;
    }

    .know-head {
        margin-bottom: 50px;
        font-size: 38px;
    }

    #know-boxes {
        margin-bottom: 10px;
    }

    .know-box {
        font-size: 15px;
    }

        .moz-no-touch .know-box {
            opacity: 0.2;
             -webkit-transition: opacity 0.5s ease-in;
                     transition: opacity 0.5s ease-in;
        }

            .caroufredsel .know-box,
            .moz-no-touch .know-box.past {
                opacity: 1;
            }

    .know-box > h3 {
        min-height: 100px;
        font-size: 18px;
    }

    .know-box > h3 > strong {
        font-size: 42px;
    }
}

/* background declarations */

@media (max-width: 320px) {
    #know {
        background-image: url(/static/img/know-bg-320.jpg);
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    #know {
        background-image: url(/static/img/know-bg-768.jpg);
    }
}

@media (min-width: 761px) {
    #know {
        background-image: url(/static/img/know-bg-1100.jpg);
    }
}

/*  -------------------------------------------------------------------
    Testimonials
    - with JS off testimonials look like the blocks that display individually in mobile
        - in mobile they stack
        - on larger screens they each fill 33.3% of space and float left
    - with JS on the mobile ones become a swipable slide show
    - with JS on the desktop ones become clickable and the quotes cross fade into the same space
    ------------------------------------------------------------------- */

#testimonials {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
    position: relative;
}

.testimonials {
    margin: 0 auto;
    max-width: 320px;
}

.testimonial {
    position: relative;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 320px;
    margin: 20px 0;
    background-color: #4d4e53;
    color: #d7d3c8;
    padding: 25px 20px 233px 20px;
    font-family: 'Open Sans Light',sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

    .testimonial:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50px;
        z-index: 1;
        display: block;
        margin-bottom: 61%;
        border-top: 19px solid #4d4e53;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
    }

.testimonial > img {
    position: absolute;
    bottom: 0;
    left: 0;
}

    .testimonial > img:focus {
         outline: 1px solid #4d4e53; /* incase they've resized window down and tabindex is still set */
     }

.testimonial > blockquote {
    margin: 0 0 15px 0;
    font-size: 21px;
    line-height: 1.2;
}

.testimonial > figcaption {
    font-weight: normal;
}

.testimonial > figcaption > strong {
    font-family: 'Open Sans',sans-serif;
}

@media (max-width:680px) {
    .caroufredsel_wrapper  .testimonials {
        max-width: none;
    }

    .js-enabled .testimonial {
        float: left;
        height: 450px;
        margin: 0;
    }

    #testimonials .caroufredsel_wrapper {
        margin: 0 auto !important; /* JS plug in needs reminding to center itself */
    }

    .js-enabled #testimonials:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 237px;
        width: 100%;
        margin-left: -100%;
        padding: 0 100%;
        background-color: #4d4e53;
    }

}

@media (min-width:681px) {

    .testimonials {
        width: 100%;
        max-width: 940px;
    }

    .testimonial > img {
        max-width: 100%;
        height: auto;
    }

    .testimonial {
        float: left;
        width: 33.3%;
        margin: 0;
        padding-bottom: 26%;
    }

    .js-disabled .testimonial {
       min-height: 35em;
    }


    .js-enabled .testimonials {
        position: relative;
        height: 147px;
        padding-bottom: 160px;
    }

        .js-enabled .testimonials:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 147px;
            width: 100%;
            margin-left: -100%;
            padding: 0 100%;
            background-color: #4d4e53;
        }

    .js-enabled .testimonials-pointer {
        content: '';
        position: absolute;
        top: 147px;
        left: 50%;
        z-index: 1;
        display: block;
        margin-left: 0;
        border-top: 19px solid #4d4e53;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        -webkit-transition: margin 1s;
                transition: margin 1s;
    }

    .js-enabled .testimonial {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 147px;
        padding-top: 35px;
        padding-bottom: 0;
        background-color: transparent;
    }

        .js-enabled .testimonial:before {
            content: none;
        }

    .js-enabled .testimonial > blockquote {
        opacity: 0;
        font-size: 20px;
        -webkit-transition: opacity 1s ease-out;
                transition: opacity 1s ease-out;
    }

        .js-enabled .testimonial-current > blockquote {
            opacity: 1;
        }

    .js-enabled .testimonial > img {
        bottom: auto;
        top: 100%;
        left: 33.3%;
        width: 33.3%;
    }

         .js-enabled .testimonial > img:focus {
             z-index: 1;
         }

        .js-enabled .testimonial:first-child  > img {
            left: 0;
        }

        .js-enabled .testimonial:last-child  > img {
            left: 66.6%;
        }

     .js-enabled .testimonial > figcaption {
        opacity: 0;
        font-size: 11px;
        -webkit-transition: opacity 1s;
                transition: opacity 1s;
     }

          .js-enabled .testimonial-current > figcaption {
              opacity: 1;
          }

}


@media (min-width:921px) {

     .js-enabled .testimonials {
        height: 195px;
        padding-bottom: 213px;
     }
        .js-enabled .testimonials:before {
            height: 195px;
        }

    .js-enabled .testimonials-pointer {
        top: 195px;
    }

    .js-enabled .testimonial {
        height: 195px;
    }

    .js-enabled .testimonial > blockquote {
        min-height: 99px;
        font-size: 28px;
    }

    .js-enabled .testimonial > figcaption {
        font-size: 15px;
    }

}

