[submodule "careers/base/templates/global"]
	path = careers/base/templates/global
	url = git://github.com/mozilla/django-moz-header.git
[submodule "media/global"]
	path = media/global
	url = git://github.com/mozilla/django-moz-header.git
[submodule "vendor-local/src/django-jobvite"]
	path = vendor-local/src/django-jobvite
	url = https://github.com/mozilla/django-jobvite.git
