{% extends "base.html" %}
{% from "careers/macros.html" import position_listing %}

{% block page_title %}{{ _('Mozilla Jobs &mdash; Open Positions') }}{% endblock %}

{% block content %}
<div class="wrapper">
  <h1 class="home-header">{{ _('Careers at Mozilla') }}</h1>

  <ul id="sections">
    <li><a data-jobtype="all" class="active">All Positions</a></li>
    <li><a data-jobtype="full-time">Full-time</a></li>
    <li><a data-jobtype="intern">Internships</a></li>
    <li><a data-jobtype="contractor">Contractor</a></li>
    <li><a data-jobtype="volunteer">Volunteer</a></li>
  </ul>

  <div class="role-group large">
    {#
      Once there is some reorganization by HR on the categories, there will
      be less categories and this hacky thing will be adjusted accordingly.
      Internships will always sit on the right-side column, while everything
      else sits in the left and middle alphabetically. Since the categories
      do not change often (or at all), the hacky number will be generally okay.
    #}
    <ul>
      {% for category in categories[:5] -%}
        {{ position_listing(category) }}
      {% endfor %}
    </ul>
    <ul>
      {% for category in categories[6:] -%}
        {{ position_listing(category) }}
      {% endfor %}
    </ul>
    {% if internships %}
      <ul class="last">
        {{ position_listing(internships) }}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
