{% extends "base.html" %}

{% block page_title %}{{ _('Mozilla Jobs &mdash; Open Positions') }}{% endblock %}

{% block content %}
<div class="wrapper">
  <h1 class="home-header">{{ _('Careers at Mozilla') }}</h1>

  <ul id="sections">
    <li><a data-jobtype="all" class="active">All Positions</a></li>
    <li><a data-jobtype="full-time">Full-time</a></li>
    <li><a data-jobtype="intern">Internships</a></li>
    <li><a data-jobtype="contractor">Contractor</a></li>
    <li class="last"><a data-jobtype="volunteer">Volunteer</a></li>
  </ul>

  <div class="role-group large">
    {#
      Once there is some reorganization by HR on the categories, there will
      be less categories and this hacky thing will be adjusted accordingly.
      Internships will always sit on the right-side column, while everything
      else sits in the left and middle alphabetically. Since the categories
      do not change often (or at all), the hacky number will be generally okay.
    #}
    {% for category in categories -%}
      {% if loop.first %}
        <ul>
      {% endif %}
      <li>
        <h2>{{ category.name }}</h2>
        <ul> 
          {% for position in category.position_set.order_by('title') %}
            <li>
              <a href="{{ url('careers.views.position', job_id=position.job_id) }}"
                 data-jobtype="{{ position.job_type.lower() }}"
                 alt="{{ position.title }}"
                 title="{{ position.title }}">{{ position.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% if loop.index % 7 == 0 %}
        </ul><ul>
      {% endif %}
    {% endfor -%}
    </ul>
    {% if internships %}
      <ul>
        <li>
          <h2>{{ internships.name }}</h2>
          <ul> 
            {% for position in internships.position_set.order_by('title') %}
              <li>
                <a href="{{ url('careers.views.position', job_id=position.job_id) }}"
                   data-jobtype="{{ position.job_type.lower() }}"
                   alt="{{ position.title }}"
                   title="{{ position.title }}">{{ position.title }}</a>
              </li>
            {% endfor %}
        </li>
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
