{% extends "base.html" %}

{% block page_title %}{{ _('{position} &mdash; Mozilla Jobs &mdash; Open Positions')|f(position=position.title)|safe }}{% endblock %}

{% block content %}
  <div id="main">
    <div class="primary">
      <h1>{{ position.title }}</h1>
      <h2 class="locations">{{ position.location }}</h2>
      <div id="job-meta">
        <div class="float">
          <div id="job-description">
            {#
              Description is bleached through
              django-jobvite so it will be
              happy here.
            #}
            {{ position.description|safe }}
          </div>

          <dl id="job-details">
            <dt>{{ _('Team:') }}</dt>
            <dd>{{ position.category.name }}</dd>
            <dt>{{ _('Posted:') }}</dt>
            <dd>{{ position.date }}</dd>
          </dl>

          <div class="apply">
            <a id="job-apply" href="{{ position.apply_url }}">{{ _('Apply for this Job') }}</a>
          </div>
        </div> <!-- /.float -->
      </div> <!-- /#job-meta -->
    </div> <!-- /.primary -->

    <div class="secondary">
      <div id="job-desc">
        <div class="desc">
          <h2>{{ position.category.name }}</h2>
          <p>{{ position.category.description }}</p>
          {# TODO: Update brief_description with video field #}
          <h2>{{ _('Open Positions') }}</h2>
          <ul>
            {% for p in positions %}
              <li>
                <a href="{{ url('careers.views.position', p.job_id) }}"
                   class="{% if position.job_id == p.job_id %}active{% endif %}"
                   title="{{ p.title }}">{{ p.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
