<footer class="colophon">
  <div class="contain">
    <a href="//www.mozilla.org" class="colophon-logo">
      <img src="{{ static('img/footer-mozilla.png') }}" alt="mozilla">
    </a>
    <p class="colophon-info" role="contentinfo">
      Portions of this content are ©1998–{{ thisyear() }} by individual mozilla.org contributors. Content available under a <a href="https://www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.
    </p>
    <nav class="colophon-nav">
      <ul>
        <li><a href="https://www.mozilla.org/contact/">Contact Us</a></li>
        <li><a href="//www.mozilla.org/privacy">Privacy Policy</a></li>
        <li><a href="//www.mozilla.org/about/legal.html">Legal Notices</a></li>
        <li><a href="//www.mozilla.org/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
      </ul>
      <ul>
        <li><a href="http://twitter.com/firefox">Twitter</a></li>
        <li><a href="http://facebook.com/Firefox">Facebook</a></li>
        <li><a href="//affiliates.mozilla.org/">Firefox Affiliates</a></li>
      </ul>
    </nav>
  </div><!-- /.contain -->
</footer>
