<header class="masthead" role="banner">
  <div class="contain">
      <a href="//www.mozilla.org/" id="tabzilla">Mozilla</a>
      <nav id="nav-main" class="nav-main" role="navigation">
        <ul id="nav-main-menu">
          <li{% if navbar_section == 'home' %} class="current"{% endif %}>
            <a href="{{ url('careers.home')|urlparams(hash='teams_and_roles') }}">Teams &amp; Roles</a>
          </li>
          <li><a href="{{ url('careers.home')|urlparams(hash='life_at_mozilla') }}">Life at Mozilla</a></li>
          <li><a href="{{ url('careers.home')|urlparams(hash='locations') }}">Locations</a></li>
          <li{% if navbar_section == 'university' %} class="current"{% endif %}>
            <a href="{{ url('university.index') }}">University</a>
          </li>
          <li{% if navbar_section == 'listings' %} class="current"{% endif %}>
            <a href="{{ url('careers.listings') }}" class="ga-nav-listing">Listings</a>
          </li>
        </ul>
      </nav>
      <h2 class="masthead-logo">
        <a href="{{ url('careers.home') }}">
          <img src="{{ static('img/header-mozilla-stone.png') }}" alt="mozilla">
        </a>
      </h2>
  </div>
</header>
