<header class="masthead" role="banner">
  <div class="masthead-wrapper">
    <div class="contain">
        <span id="tabzilla">
          <a href="https://www.mozilla.org/">Mozilla</a>
        </span>
        <nav id="nav-main" class="nav-main" role="navigation">
          <ul id="nav-main-menu" class="nav-main-menu">
            <li class="nav-main-home {% if navbar_section == 'home' %}current{% endif %}">
              <a class="ga-nav-home" href="{{ url('careers.home') }}">Home</a>
            </li>
            <li><a class="ga-nav-team" href="{{ url('careers.home')|urlparams(hash='teams') }}">Teams &amp; Roles</a></li>
            <li><a class="ga-nav-life" href="{{ url('careers.home')|urlparams(hash='life') }}">Life at Mozilla</a></li>
            <li><a class="ga-nav-locations" href="{{ url('careers.home')|urlparams(hash='locations') }}">Locations</a></li>
            <li{% if navbar_section == 'university' %} class="current"{% endif %}>
              <a class="ga-nav-university" href="{{ url('university.index') }}">University</a>
            </li>
            <li{% if navbar_section == 'listings' %} class="current"{% endif %}>
              <a class="ga-nav-listing" href="{{ url('careers.listings') }}">Listings</a>
            </li>
          </ul>
        </nav>
        <h2 class="masthead-logo expanded">
          <a href="{{ url('careers.home') }}">
            <img class="ga-nav-home-logo" alt="Mozilla Careers" src="{{ static('img/wordmark-dark.svg') }}" height="45" width="170" />
          </a>
        </h2>
    </div>
  </div>
</header>
