 <header class="masthead" role="banner">
  <div class="contain">
      <a href="//www.mozilla.org/" id="tabzilla">Mozilla</a>
      <nav id="nav-main" class="nav-main" role="navigation">
        <ul id="nav-main-menu">
          <li><a href="#teams_and_roles">Teams &amp; Roles</a></li>
          <li><a href="#life_at_mozilla">Life at Mozilla</a></li>
          <li><a href="#locations">Locations</a></li>
          <li><a href="#university">University</a></li>
          <li><a href="#listings">Listings</a></li>
        </ul>
      </nav>
      <h2 class="masthead-logo"><a href="//www.mozilla.org"><img src="{{ static('img/header-mozilla-stone.png') }}" alt="mozilla"></a></h2>
  </div>
</header>
