{# start #header #}
<div id="header">
  <div>
    <div class="logo">
      <a href="{{ url('careers.home') }}" title="{{ _('Back to home page') }}">{{ _('Mozilla Jobs') }}</a>
    </div>
    <a href="http://www.mozilla.org/" class="mozilla">{{ _('Mozilla') }}</a>
    
    {# start menu #nav-main #}
    <div id="nav-main" role="navigation">
      <ul role="menubar">
        <li>
          {# TODO: Add the 'Why Mozilla' page #}
          <a href="#">{{ _('Why Mozilla?') }}</a>
        </li>
        <li class="last">
          {# TODO: Add the 'Benefits and Perks' page #}
          <a href="#">{{ _('Benefits &amp; Perks') }}</a>
        </li>
      </ul>
    </div>
    {# end menu #nav-main #}

  </div>
</div>
{# end #header #}
