{% extends "base.html" %}

{% block page_title %}Mozilla Jobs &mdash; Page not found{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('careers') }}
{% endblock %}

{% block site_ie8 %}
  {{ super() }}
  {{ css('careers-ie8') }}
{% endblock %}

{% block content %}
<section id="error" class="contain">
    <h1>Page not found!</h1>

    <p>
      Sorry, but we couldn't find the job listing or page you're looking for.
      <a href="{{ url('careers.listings') }}">Check out all the listings</a> for all
      careers at Mozilla.
    </p>
</section>
{% endblock %}
