<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="js-disabled">
  <head>

    {# meta #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}mozilla.org{% endblock %}</title>

    {# css #}
    <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    {% block site_css %}
      {{ css('common') }}
    {% endblock %}

    {# js #}
    <!--[if gt IE 8]> <!-- -->
      <script src="{{ static('js/head.js') }}"></script>
    <!-- <![endif]-->

    <!--[if lte IE 8]>
    {% block site_ie8 %}
      {{ js('ie8shims') }}
    {% endblock %}
    <![endif]-->

    {# icons #}
    <link rel="shortcut icon" type="image/png" href="{{ static('img/favicon.png') }}"/>

  </head>
  <body id="{% block body_id %}{% endblock %}"
        data-common-js="{{ js_urls_json('common') }}">

    {% block site_header %}
      {% include "base/header.html" %}
    {% endblock %}

    <div id="wrapper">
      <main role="main">

        {% block content %}{% endblock %}

      </main>

      {% block site_footer %}
        {% include "base/footer.html" %}
      {% endblock %}

    </div><!-- /#wrapper -->

    {# js #}
    <!--[if gt IE 8]> <!-- -->
    {% block site_js %}
      {{ js('common') }}
    {% endblock %}
    <!-- <![endif]-->
    {% block unfiltered_js %}{% endblock %}

    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

    <!-- ANALYTICS -->
    {% include "base/ga.html" %}
  </body>
</html>
