<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="no-js"
      data-ga-code="{{ settings.GA_ACCOUNT_CODE }}"
      data-gtm-code="{{ settings.GTM_ACCOUNT_CODE }}">
{% set default_slug = "Mozilla Careers &mdash; Feel good about your work again" %}
  <head>
    {# meta #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ meta_title|default(default_slug, true) }}">
    <meta property="og:description" content="{{ meta_description|default(default_slug, true) }}">
    <meta property="og:image" content="{{ meta_image|default(static('img/hero-bg-high-res.jpg'), true) }}">
    <meta property="og:image:alt" content="{{ meta_title|default(default_slug, true) }}">
    <meta name="twitter:title" content="{{ meta_title|default(default_slug, true) }}">
    <meta name="twitter:description" content="{{ meta_description|default(default_slug, true) }}">
    <meta name="twitter:image" content="{{ meta_image|default(static('img/hero-bg-high-res.jpg'), true) }}">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="{{ meta_description|default(default_slug, true) }}">
    <title>{{ meta_title|default(default_slug, true) }}</title>

    {# css #}
    {% block site_css %}
      <link href="{{ static('css/protocol/css/protocol.min.css') }}" rel="stylesheet" />
      <link href="{{ static('css/protocol/css/protocol-extra.min.css') }}" rel="stylesheet" />
      <link href="{{ static('css/careers-new.css') }}" rel="stylesheet" />
    {% endblock %}

    {# js #}
    <script src="{{ static('js/dnt-helper.js') }}"></script>
    <script src="{{ static('js/protocol/protocol-base.min.js') }}"></script>
    <script src="{{ static('js/protocol/protocol-utils.min.js') }}"></script>
    <script src="{{ static('js/protocol/protocol-supports.min.js') }}"></script>

    {# icons #}
    <link rel="shortcut icon" type="image/png" href="{{ static('img/favicon.ico') }}"/>

    {# feeds #}
    <link rel="alternate" type="application/rss+xml"
          href="{{ url('careers.feed') }}" title="Current Mozilla job openings" />

    {% block google_analytics %}
      {# Google Analytics #}
      {% if settings.GTM_ACCOUNT_CODE %}
        <script src="{{ static('js/gtm-snippet.js') }}"></script>
      {% elif settings.GA_ACCOUNT_CODE %}
        <script src="{{ static('js/ga.js') }}"></script>
      {% endif %}
    {% endblock %}

  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}"
    {%- block body_data %}
    {%- endblock %}>
    {%- if settings.GTM_ACCOUNT_CODE %}
      <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id={{ settings. GTM_ACCOUNT_CODE }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
    {%- endif %}

    {% include "base/header.jinja" %}

    <div id="wrapper" class="mzp-l-content mzp-t-mozilla">
      <main role="main">

        {% block content %}{% endblock %}

      </main>
    </div><!-- /#wrapper -->

    {% block site_footer %}
      {% include "base/footer.jinja" %}
    {% endblock %}

    {# js #}
    {% block site_js %}
      {% if settings.GA_ACCOUNT_CODE -%}
        <script src="{{ static('js/ga_event-tracking.js') }}"></script>
      {% endif %}
      <script src="{{ static('js/protocol/protocol-navigation.min.js') }}"></script>
      <script src="{{ static('js/protocol/protocol-menu.min.js') }}"></script>
      <script src="{{ static('js/base.js') }}"></script>
    {% endblock %}

  </body>
</html>
