{% set navbar_section = navbar_section|default(None) -%}

<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="js-disabled" data-ga-code="{{ settings.GA_ACCOUNT_CODE }}">
  <head>
    {# meta #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}mozilla.org{% endblock %}</title>

    {# css #}
    <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    {% block site_css %}
      {{ css('base') }}
    {% endblock %}
    {{ css('print', media='print') }}


    {# js #}
    <!--[if gt IE 8]> <!-- -->
      <script src="{{ static('js/head.js') }}"></script>
    <!-- <![endif]-->

    <!--[if lte IE 8]>
    {% block site_ie8 %}
      {{ js('ie8shims') }}
    {% endblock %}
    <![endif]-->

    {# icons #}
    <link rel="shortcut icon" type="image/png" href="{{ static('img/favicon.png') }}"/>

    <script src="//cdn.optimizely.com/js/1719030594.js"></script>

    {% block google_analytics %}
      {{ js('google_analytics') }}
    {% endblock %}

  </head>
  <body id="{% block body_id %}{% endblock %}"
        {% block body_data %}
          data-js-smallscreen="{{ js_urls_json('smallscreen') }}"
        {% endblock %}>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MLM3DH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script src="{{ static('js/gtm.js') }}"></script>
    <!-- End Google Tag Manager -->

    {% include "base/header.html" %}

    <div id="wrapper">
      <main role="main">

        {% block content %}{% endblock %}

      </main>

      {% block site_footer %}
        {% include "base/footer.html" %}
      {% endblock %}

    </div><!-- /#wrapper -->

    {# js #}
    {% block site_js %}
      {{ js('global') }}
      {{ js('google_analytics_events') }}
      <!--[if gt IE 8]> <!-- -->
      {{ js('common') }}
      <!-- <![endif]-->
    {% endblock %}
    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  </body>
</html>
