@font-face {
    font-family: 'Open Sans Light';
    font-display: 'fallback';
    src: url('/static/fonts/opensans-light.woff2') format('woff2'),
         url('/static/fonts/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/opensans-regular.woff2') format('woff2'),
         url('/static/fonts/opensans-regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/opensans-lightitalic.woff2') format('woff2'),
         url('/static/fonts/opensans-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/opensans-regular.woff2') format('woff2'),
         url('/static/fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/opensans-semibold.woff2') format('woff2'),
         url('/static/fonts/opensans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/opensans-italic.woff2') format('woff2'),
         url('/static/fonts/opensans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla';
    src: url('/static/fonts/ZillaSlab-Regular.woff2') format('woff2'),
         url('/static/fonts/ZillaSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla';
    src: url('/static/fonts/ZillaSlab-Bold.woff2') format('woff2'),
         url('/static/fonts/ZillaSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla';
    src: url('/static/fonts/ZillaSlab-Italic.woff2') format('woff2'),
         url('/static/fonts/ZillaSlab-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla';
    src: url('/static/fonts/ZillaSlab-BoldItalic.woff2') format('woff2'),
         url('/static/fonts/ZillaSlab-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:url('/static/fonts/icomoon/icomoon.eot');
    src:url('/static/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/icomoon/icomoon.woff') format('woff'),
        url('/static/fonts/icomoon/icomoon.ttf') format('truetype'),
        url('/static/fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* // Set new HTML5 elements to block or inline-block for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, main, nav, section, summary {
    display: block;
}

audio, video, canvas {
    display: inline-block;
}

html, body, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, hr,
p, pre, blockquote, figure, figcaption,
table, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote, q {
    quotes: '' '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, iframe, a img {
    border: 0;
}

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

img, video, object, embed {
    -ms-interpolation-mode: bicubic;
    height: auto;
    max-width: 100%;
}

