{% extends "base.html" %}
{% from "careers/macros.html" import breadcrumbs, position_listing with context %}

{% block page_title %}Mozilla Jobs &mdash; Open Positions{% endblock %}

{% block content %}
  {{ breadcrumbs(last='Careers') }}

  <div class="wrapper">
    <h1 class="home-header">Careers at Mozilla</h1>

    <div id="current-video">
      <div id="video-player" class="mozilla-video-control">
        <video id="video" width="640" height="360" controls="controls" preload="metadata"
               poster="//videos-cdn.mozilla.net/serv/hr/HR-Why.jpg">

          <source src="//videos-cdn.mozilla.net/serv/hr/HR-Why.webm" type="video/webm">
          <source src="//videos-cdn.mozilla.net/serv/hr/HR-Why.theora.ogv"
                  type='video/ogg; codecs="theora, vorbis"'>
          <source src="//videos-cdn.mozilla.net/serv/hr/HR-Why.mp4" type="video/mp4">

          <object id="flash_fallback_1" class="vjs-flash-fallback" width="640" height="360"
                  type="application/x-shockwave-flash"
                  data="//releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
            <param name="movie" value="//releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
            <param name="allowfullscreen" value="true">
            <param name="flashvars" value='config={"playlist":["//videos-cdn.mozilla.net/serv/hr/HR-Why.jpg",
                   {"url":"//videos-cdn.mozilla.net/serv/hr/HR-Why.mp4",
                    "autoPlay":false,"autoBuffering":true}]}'>
            <img src="//videos-cdn.mozilla.net/serv/hr/HR-Why.jpg" width="640" height="360"
                 alt="Poster Image" title="No video playback capabilities.">
          </object>
        </video>
        <a href="#" class="mozilla-video-control-overlay">
          <span>video</span>
        </a>
      </div>
    </div>

    <p class="headline">Let's build a better Web</p>

    <ul id="sections">
      <li><a data-jobtype="all" class="active">All Positions</a></li>
      <li><a data-jobtype="employee">Full-time</a></li>
      <li><a data-jobtype="intern">Internships</a></li>
      <li><a data-jobtype="seasonal">Contractor</a></li>
    </ul>

    <div class="role-group large">
      {#
        Once there is some reorganization by HR on the categories, there will
        be less categories and this hacky thing will be adjusted accordingly.
        Internships will always sit on the right-side column, while everything
        else sits in the left and middle alphabetically. Since the categories
        do not change often (or at all), the hacky number will be generally okay.
      #}
      {% if categories %}
        <ul>
          {% for category in categories[:5] -%}
            {{ position_listing(category) }}
          {% endfor %}
        </ul>
        <ul>
          {% for category in categories[5:8] -%}
            {{ position_listing(category) }}
          {% endfor %}
        </ul>
        <ul class="last">
          {% for category in categories[8:] -%}
            {{ position_listing(category) }}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
