{% extends "base.jinja" %}

{% block meta_description %}Feel good about your work again. At Mozilla, you can pursue your future while working to protect the future of the internet for everyone, everywhere.{% endblock %}
{% block page_title %}Mozilla Jobs &mdash; Open Positions{% endblock %}

{% block content %}

<section class="mzp-c-hero mzp-t-dark page-hero">
  <div class="mzp-l-content">
    <div class="mzp-c-hero-body">
      <h1 class="mzp-c-hero-title">Feel good about your work again</h1>

      <div class="mzp-c-hero-desc">
        <p>
          Pursue your future while working to protect the future of the internet for everyone, everywhere.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="mzp-l-content apply-now-wrapper">
  <div class="centered">
    <a class="mzp-c-button" href="{{ url('careers.listings') }}">Apply Now</a>
  </div>
</div>

<div class="mzp-l-card-hero">
  <section class="mzp-c-card mzp-c-card-large mzp-has-aspect-16-9 mzp-has-video has-video-embed">
    <div class="mzp-c-card-media-wrapper iframe-video-wrapper">
      <iframe src="https://www.youtube-nocookie.com/embed/uVf_lYoOT2A?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="mzp-c-card-content">
      <div class="mzp-c-card-tag">Video</div>
      <h2 class="mzp-c-card-title">Because in-person is best</h2>
      <div class="mzp-c-card-desc">
        Our All Hands are a unique opportunity for employees and our most impactful
        volunteers to come together, in person, to share experiences, generate new ideas
        and spark new friendships. We went to Whistler this June.
      </div>
    </div>
  </section>
  <section class="mzp-c-card mzp-c-card-small">
    <div class="mzp-c-card-content">
      <ol class="survey-wrapper">
        <li>
          <h4>How we treat each other</h4>
          At Mozilla, people treat each other with respect:
          <div class="survey-graph">
            <div class="survey-favorable" style="width: 87%;"><span class="survey-graph-text">87%<span class="visually-hidden"> favorable</span></span></div><div class="survey-neutral" style="width: 10%;"><span class="survey-graph-text">10%<span class="visually-hidden"> neutral</span></span></div><div class="survey-unfavorable" style="width: 3%;"><span class="survey-graph-text">&nbsp;<span class="visually-hidden">3% unfavorable</span></span></div>
          </div>
        </li>
        <li>
          <h4>Learning and development</h4>
          I have access to the learning and development I need to do my job well:
          <div class="survey-graph">
            <div class="survey-favorable" style="width: 80%;"><span class="survey-graph-text">80%<span class="visually-hidden"> favorable</span></span></div><div class="survey-neutral" style="width: 13%;"><span class="survey-graph-text">13%<span class="visually-hidden"> neutral</span></span></div><div class="survey-unfavorable" style="width: 7%;"><span class="survey-graph-text">7%<span class="visually-hidden"> unfavorable</span></span></div>
          </div>
        </li>
        <li>
          <h4>Innovation</h4>
          Within my organization, we act on promising new or innovative ideas:
          <div class="survey-graph">
            <div class="survey-favorable" style="width: 70%;"><span class="survey-graph-text">70%<span class="visually-hidden"> favorable</span></span></div><div class="survey-neutral" style="width: 22%;"><span class="survey-graph-text">22%<span class="visually-hidden"> neutral</span></span></div><div class="survey-unfavorable" style="width: 8%;"><span class="survey-graph-text">8%<span class="visually-hidden"> unfavorable</span></span></div>
          </div>
        </li>
      </ol>
      <dl class="survey-legend-wrapper">
        <div>
          <dt>Favorable</dt>
          <dd><div class="survey-legend survey-favorable"></div></dd>
        </div>
        <div>
          <dt>Neutral</dt>
          <dd><div class="survey-legend survey-neutral"></div></dd>
        </div>
        <div>
          <dt>Unfavorable</dt>
          <dd><div class="survey-legend survey-unfavorable"></div></dd>
        </div>
      </dl>
      <h2 class="mzp-c-card-title">Our culture ensures our future</h2>
      <div class="mzp-c-card-desc">
        Our most recent employee survey confirms respect for one another and an emphasis
        on learning and innovation are what will ensure our future.
      </div>
    </div>
  </section>
</div>

<br />

<section class="mzp-l-card-half">
  <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
    <div class="mzp-c-card-media-wrapper">
      <div class="lazy-image-container">
        <img src="{{ static('img/diverse-perspectives.jpg') }}" srcset="{{ static('img/diverse-perspectives-high-res.jpg') }} 1.5x" alt="Tara Robertson, Diversity and Inclusion Strategic Partner at Mozilla" class="mzp-c-card-image" />
      </div>
    </div>
  </div>
  <div class="mzp-c-card mzp-c-card-medium">
    <div class="mzp-c-card-content">
      <h2 class="mzp-c-card-title">Diverse perspectives welcome</h2>
      <div class="mzp-c-card-desc">
        We respect differences. We seek them out. And we thrive because of them.
      </div>
      <a href="https://blog.mozilla.org/careers/transitioning-freely/" class="mzp-c-cta-link">Learn more</a>
    </div>
  </div>
</section>

<div class="mzp-c-billboard mzp-l-billboard-right improving-lives-billboard">
  <div class="mzp-c-billboard-image-container">
    <img class="mzp-c-billboard-image" src="{{ static('img/improving-lives-not-profits.png') }}" srcset="{{ static('img/improving-lives-not-profits-high-res.png') }} 1.5x" alt="Illustration signifying balance between work and personal life" height="381" width="286" />
  </div>
  <div class="mzp-c-billboard-content">
    <div class="mzp-c-billboard-content-container">
      <div class="mzp-c-billboard-content-inner">
        <h2 class="mzp-c-billboard-title">Improving lives, not profits</h2>
        <p class="mzp-c-billboard-desc">
          Our mission is to keep the internet open and safe for everyone. It’s the
          driving force of our culture, and almost every conversation.
        </p>
        <a class="mzp-c-cta-link" href="https://assets.mozilla.net/pdf/mozilla-careers-comp-brochure.pdf">Learn more about us</a>
      </div>
    </div>
  </div>
</div>

<div class="mzp-l-content apply-now-wrapper">
  <div class="centered">
    <a class="mzp-c-button" href="{{ url('careers.listings') }}">Apply Now</a>
  </div>
</div>

{% if recent_posts %}
  <section class="mzp-l-card-third">
  {% for post in recent_posts %}
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <a href="{{ post.link }}" class="mzp-c-card-block-link">
        <div class="mzp-c-card-media-wrapper">
          <div class="lazy-image-container">
            <img src="{{ post.image|default(static('img/blog-fallback.png'), true) }}" class="mzp-c-card-image" />
          </div>
        </div>
        <div class="mzp-c-card-content">
          <h2 class="mzp-c-card-title">{{ post.title }}</h2>
          <div class="mzp-c-card-desc">
            {{ post.excerpt }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  {% if featured_post %}
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <a href="{{ featured_post.link }}" class="mzp-c-card-block-link">
        <div class="mzp-c-card-media-wrapper">
          <div class="lazy-image-container">
            <img src="{{ featured_post.image|default(static('img/blog-fallback.png'), true) }}" class="mzp-c-card-image" />
          </div>
        </div>
        <div class="mzp-c-card-content">
          <h2 class="mzp-c-card-title">{{ featured_post.title }}</h2>
          <div class="mzp-c-card-desc">
            {{ featured_post.excerpt }}
          </div>
          <ul>
        </div>
      </a>
    </div>
  {% endif %}
  </section>
{% endif %}

<br />

<div class="centered">
  <h4>Connection is our superpower</h4>

  <p>
    We’re united by our passion for the internet, and for supporting each other. Once
    you’re a Mozillian, you’re always a Mozillian.
  </p>
</div>

<div class="mzp-l-card-third">
  <section class="mzp-c-card mzp-has-aspect-1-1">
    <div class="mzp-c-card-media-wrapper">
      <img src="{{ static('img/mozillians/mozilla-office.jpg') }}" srcset="{{ static('img/mozillians/mozilla-office-high-res.jpg') }} 1.5x" alt="Father typing with a child in a front-facing baby carrier" class="mzp-c-card-image" />
    </div>
  </section>
  <section class="mzp-c-card mzp-has-aspect-1-1">
    <div class="mzp-c-card-media-wrapper">
      <img src="{{ static('img/mozillians/london.jpg') }}" srcset="{{ static('img/mozillians/london-high-res.jpg') }} 1.5x" alt="Overhead view of employees sitting in communal bean bag chairs working on laptops" class="mzp-c-card-image" />
    </div>
  </section>
  <section class="mzp-c-card mzp-has-aspect-1-1">
    <div class="mzp-c-card-media-wrapper">
      <img src="{{ static('img/mozillians/whistler-1.jpg') }}" srcset="{{ static('img/mozillians/whistler-1-high-res.jpg') }} 1.5x" alt="Three female-presenting employees talking and laughing at a company gathering in Whistler, Canada" class="mzp-c-card-image" />
    </div>
  </section>
  <section class="mzp-c-card mzp-has-aspect-1-1">
    <div class="mzp-c-card-media-wrapper">
      <img src="{{ static('img/mozillians/whistler-2.jpg') }}" srcset="{{ static('img/mozillians/whistler-2-high-res.jpg') }} 1.5x" alt="Two children posing for a picture with the Firefox mascot" class="mzp-c-card-image" />
    </div>
  </section>
  <section class="mzp-c-card mzp-has-aspect-1-1">
    <div class="mzp-c-card-media-wrapper">
      <img src="{{ static('img/mozillians/mozilla-team.jpg') }}" srcset="{{ static('img/mozillians/mozilla-team-high-res.jpg') }} 1.5x" alt="A row of employees doing coordinated squats against a wall" class="mzp-c-card-image" />
    </div>
  </section>
  <section class="mzp-c-card mzp-has-aspect-1-1">
    <div class="mzp-c-card-media-wrapper">
      <img src="{{ static('img/mozillians/whistler-all-hands.jpg') }}" srcset="{{ static('img/mozillians/whistler-all-hands-high-res.jpg') }} 1.5x" alt="Mitchell Baker smiling while giving a presentationf" class="mzp-c-card-image" />
    </div>
  </section>
</div>

<section class="accolades">
  <div class="mzp-c-call-out">
    <div class="mzp-l-content">
      <h2 class="mzp-c-call-out-title">Accolades from others</h2>
      <p class="mzp-c-call-out-desc">
        The praise we value most comes from our employees, but we’re still honored to have
        been acknowledged by these organizations.
      </p>
    </div>
  </div>

  <div class="mzp-l-card-third">
    <section class="mzp-c-card mzp-has-aspect-1-1">
      <a href="https://www.fastcompany.com/90373504/fighting-for-online-freedom" class="mzp-c-card-block-link" rel="noopener noreferrer">
        <div class="mzp-c-card-content centered">
          <h2 class="mzp-c-card-title">Fast Company’s Best Workplaces for Innovators</h2>
          <div class="mzp-c-card-desc">&ndash; 2019 &ndash;</div>
        </div>
      </a>
    </section>
    <section class="mzp-c-card mzp-has-aspect-1-1">
      <a href="https://www.fastcompany.com/90299092/mozilla-most-innovative-companies-2019" class="mzp-c-card-block-link" rel="noopener noreferrer">
        <div class="mzp-c-card-content centered">
          <h2 class="mzp-c-card-title">Fast Company Most Innovative Companies</h2>
          <div class="mzp-c-card-desc">&ndash; 2019 &ndash;</div>
        </div>
      </a>
    </section>
    <section class="mzp-c-card mzp-has-aspect-1-1">
      <a href="https://blog.mozilla.org/careers/mozilla-corporation-takes-part-in-hrcs-2019-lgbtq-workplace-equality-index/" class="mzp-c-card-block-link" rel="noopener noreferrer">
        <div class="mzp-c-card-content centered">
          <h2 class="mzp-c-card-title">Human Rights Campaign Corporate Equality Index</h2>
          <div class="mzp-c-card-desc">&ndash; 2019 &ndash;</div>
        </div>
      </a>
    </section>
  </div>
</section>

<div class="mzp-l-content apply-now-wrapper">
  <div class="centered">
    <a class="mzp-c-button" href="{{ url('careers.listings') }}">Apply Now</a>
  </div>
</div>

<section class="mzp-c-call-out">
  <div class="mzp-l-content">
    <h2 class="mzp-c-call-out-title">Your career growth is part of our mission </h2>
    <p class="mzp-c-call-out-desc">
      Serving 300+ million people means our small team has a mighty mandate. Add a
      culture of exploration and mentorship, and there is always a new way to learn and
      grow here.
    </p>
  </div>
</section>

<section class="mission-points">
  <section class="mzp-c-billboard mzp-l-billboard-left">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/truly-mission-driven.png') }}" srcset="{{ static('img/truly-mission-driven-high-res.png') }} 1.5x" alt="Illustration of two people tending to a tree" height="309" width="236" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h3 class="mzp-c-billboard-title">Truly “mission-driven”</h3>
          <p class="mzp-c-billboard-desc">
            Being wholly-owned by the non-profit Mozilla Foundation means we can focus on
            the real needs of people, rather than a bottom line. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-billboard mzp-l-billboard-right">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/the-web-the-way-it-should-be.png') }}" srcset="{{ static('img/the-web-the-way-it-should-be-high-res.png') }} 1.5x" alt="Illustration of a group of activists with their fists in the air, holding megaphones and signs" height="319" width="270" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h2 class="mzp-c-billboard-title">The web the way it should be</h2>
          <p class="mzp-c-billboard-desc">
            Join a global community of employees, collaborators, activists, and advocates
            fighting to keep the internet healthy for generations.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-billboard mzp-l-billboard-left">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/beyond-the-browser.png') }}" srcset="{{ static('img/beyond-the-browser-high-res.png') }} 1.5x" alt="Illustration of a group of people working together to connect abstract dots and lines" height="358" width="358" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h2 class="mzp-c-billboard-title">Beyond the browser</h2>
          <p class="mzp-c-billboard-desc">
            While our Firefox family of products works to keep everyone safer and smarter
            online, our Mozilla initiatives focus on shaping the future of the internet.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

<div class="mzp-l-content apply-now-wrapper">
  <div class="centered">
    <a class="mzp-c-button" href="{{ url('careers.listings') }}">Apply Now</a>
  </div>
</div>

<section class="mzp-l-content centered locations" id="locations">
  <div class="mzp-c-call-out">
    <div class="mzp-l-content">
      <h2 class="mzp-c-call-out-title">A global view</h2>
      <p class="mzp-c-call-out-desc">
        With offices all over the world, we consider the internet from multiple cultures
        and contexts.
      </p>
    </div>
  </div>

  <ul class="locations-list">
    <li>
      <a href="https://www.mozilla.org/contact/spaces/san-francisco/">
        <img src="{{ static('img/locations/san-francisco.png') }}" srcset="{{ static('img/locations/san-francisco-high-res.png') }}" alt="Illustration representing the city of San Francisco" />
        San Francisco
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/berlin/">
        <img src="{{ static('img/locations/berlin.png') }}" srcset="{{ static('img/locations/berlin-high-res.png') }}" alt="Illustration representing the city of Berlin" />
        Berlin
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/taipei/">
        <img src="{{ static('img/locations/taipei.png') }}" srcset="{{ static('img/locations/taipei-high-res.png') }}" alt="Illustration representing the city of Taipei" />
        Taipei
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/toronto/">
        <img src="{{ static('img/locations/toronto.png') }}" srcset="{{ static('img/locations/toronto-high-res.png') }}" alt="Illustration representing the city of Toronto" />
        Toronto
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/vancouver/">
        <img src="{{ static('img/locations/vancouver.png') }}" srcset="{{ static('img/locations/vancouver-high-res.png') }}" alt="Illustration representing the city of Vancouver" />
        Vancouver
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/mountain-view/">
        <img src="{{ static('img/locations/mountain-view.png') }}" srcset="{{ static('img/locations/mountain-view-high-res.png') }}" alt="Illustration representing the city of Mountain View" />
        Mountain View
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/london/">
        <img src="{{ static('img/locations/london.png') }}" srcset="{{ static('img/locations/london-high-res.png') }}" alt="Illustration representing the city of London" />
        London
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/paris/">
        <img src="{{ static('img/locations/paris.png') }}" srcset="{{ static('img/locations/paris-high-res.png') }}" alt="Illustration representing the city of Paris" />
        Paris
      </a>
    </li>
    <li>
      <a href="https://www.mozilla.org/contact/spaces/portland/">
        <img src="{{ static('img/locations/portland.png') }}" srcset="{{ static('img/locations/portland-high-res.png') }}" alt="Illustration representing the city of Portland" />
        Portland
      </a>
    </li>
    <li>
      <img src="{{ static('img/locations/remote.png') }}" srcset="{{ static('img/locations/remote-high-res.png') }}" alt="Illustration representing the desk of remote office workers" />
      Remote
    </li>
  </ul>
</section>

{% endblock %}
