{% extends "base.html" %}

{% set navbar_section = 'home' %}
{% block page_title %}Mozilla Jobs &mdash; Open Positions{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('careers') }}
{% endblock %}

{% block site_ie8 %}
  {{ super() }}
  {{ css('careers-ie8') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <!--[if gt IE 8]> <!-- -->
  {{ js('careers') }}
  <!-- <![endif]-->
{% endblock %}

{% block content %}
<section id="splash">
  <h2 class="splash-head">We’re a global pack of do-gooders, hell-raisers and passionate defenders of the Web.</h2>
  <p class="splash-subhead">Want to join in?</p>
  <div class="cta-strip">
    <a class="cta" href="#">View our current openings</a>
    <a class="cta" href="#">Apply for an internship</a>
    <a class="cta" href="#">Become a volunteer</a>
  </div>
  <div class="splash-credo">
    <div class="contain">
      <h3 class="splash-credo-head">Just call us Mozillians</h3>
      <p>
        We are a proudly non-profit organization driven by a culture of openness and collaboration. It’s a value we hold strong and it’s how we work together, day in and day out.
      </p>
      <p>
        When you join Mozilla, you’re becoming part of a global community that’s helping to build a brighter future for the Web &mdash; and for everyone.
      </p>
    </div>
  </div>
</section>
{% endblock %}

