{% extends "base.html" %}
{% from "careers/macros.html" import position_listing with context %}

{% block page_title %}Mozilla Jobs &mdash; Open Positions{% endblock %}

{% block unfiltered_js %}
  {{ js('listings') }}
{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1 class="home-header">Careers at Mozilla</h1>

    <div id="current-video">
      <div id="video-player" class="mozilla-video-control">
        <video id="video" width="640" height="360" controls preload="metadata"
               poster="//videos-cdn.mozilla.net/serv/hr/HR-Why.jpg">

          <source src="//videos-cdn.mozilla.net/serv/hr/HR-Why.webm" type="video/webm">
          <source src="//videos-cdn.mozilla.net/serv/hr/HR-Why.theora.ogv"
                  type='video/ogg; codecs="theora, vorbis"'>
          <source src="//videos-cdn.mozilla.net/serv/hr/HR-Why.mp4" type="video/mp4">

          <object id="flash_fallback_1" class="vjs-flash-fallback" width="640" height="360"
                  type="application/x-shockwave-flash"
                  data="//releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
            <param name="movie" value="//releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
            <param name="allowfullscreen" value="true">
            <param name="flashvars" value='config={"playlist":["//videos-cdn.mozilla.net/serv/hr/HR-Why.jpg",
                   {"url":"//videos-cdn.mozilla.net/serv/hr/HR-Why.mp4",
                    "autoPlay":false,"autoBuffering":true}]}'>
            <img src="//videos-cdn.mozilla.net/serv/hr/HR-Why.jpg" width="640" height="360"
                 alt="Poster Image" title="No video playback capabilities.">
          </object>
        </video>
        <a href="#" class="mozilla-video-control-overlay">
          <span>video</span>
        </a>
      </div>
    </div>

    <p class="headline">Let's build a better Web</p>

    {# Placeholder HTML, table and form are not final. #}
    <form id="position-filters">
      <select name="type" autocomplete="off">
        <option value="all">All Positions</option>
        <option value="Full time">Full time</option>
        <option value="Contractor">Contractor</option>
        <option value="Intern">Intern</option>
      </select>

      <select name="team" autocomplete="off">
        <option value="all">All Teams</option>
        {% for category in categories %}
          <option value="{{ category.slug }}">{{ category.name }}</option>
        {% endfor %}
      </select>

      <select name="location" autocomplete="off">
        <option value="all">All Locations</option>
        <option value="remote">Remote</option>
        <option value="berlin">Berlin</option>
        <option value="boston">Boston</option>
        <option value="london">London</option>
        <option value="mountainview">Mountain View</option>
        <option value="newzealand">New Zealand</option>
        <option value="paris">Paris</option>
        <option value="portland">Portland</option>
        <option value="sanfrancisco">San Francisco</option>
        <option value="toronto">Toronto</option>
        <option value="vancouver">Vancouver</option>
      </select>
    </form>

    <table id="positions">
      <tr>
        <th>Job Title</th>
        <th>Location</th>
        <th>Position</th>
        <th>Team</th>
      </tr>
      {% for position in positions %}
        <tr class="position"
            data-team="{{ position.category.slug }}"
            data-type="{{ position.job_type|readable_job_type }}"
            data-location="{{ position.location_filter }}">
          <td class="title"><a href="{{ position.get_absolute_url() }}">{{ position.title }}</a></td>
          <td class="location">{{ position.location }}</td>
          <td class="type">{{ position.job_type|readable_job_type }}</td>
          <td class="name">{{ position.category.name }}</td>
        </tr>
      {% endfor %}
      <tr class="empty-filter-message" style="display: none">
        <td colspan="4">
          <p>No jobs found that match the selected filters.</p>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
