{% extends "base.html" %}

{% set navbar_section = 'listings' %}
{% block page_title %}Listings{% endblock %}

{% block content %}
<section id="listings">
  {# Placeholder HTML, table and form are not final. #}
  <form id="position-filters">
    {{ form.position_type }}
    {{ form.team }}
    {{ form.location }}
  </form>

  <table id="positions">
    <tr>
      <th>Job Title</th>
      <th>Location</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
    {% for position in positions %}
      <tr class="position"
          data-team="{{ position.category.id }}"
          data-type="{{ position.job_type|readable_job_type }}"
          data-location="{{ position.location_filter }}">
        <td class="title"><a href="{{ position.get_absolute_url() }}">{{ position.title }}</a></td>
        <td class="location">{{ position.location }}</td>
        <td class="type">{{ position.job_type|readable_job_type }}</td>
        <td class="name">{{ position.category.name }}</td>
      </tr>
    {% endfor %}
    <tr class="empty-filter-message" style="display: none">
      <td colspan="4">
        <p>No jobs found that match the selected filters.</p>
      </td>
    </tr>
  </table>
</section>
{% endblock %}

{% block site_js %}
  {{ js('jquery') }}
  {{ js('listings') }}
{% endblock %}
