{% extends "base.html" %}

{% block page_title %}Mozilla University{% endblock %}

{% block content %}

<section id="uintro">
  <h2>Once a Mozillian,<br> always a Mozillian</h2>
  <div class="contain">
    <p>
      Mozilla isn’t just a great place to intern. It’s an experience you’ll carry with you throughout your career.
    </p>
    <p>
      From the people you’ll meet and collaborate with — a passionate global community of technologists, thinkers and builders — to the opportunities you’ll have to learn and make the Web a better place, it’s safe to say your internship with Mozilla will be unlike any other.
    </p>
  </div>
  <a class="cta" href="/listings">Apply Now</a> <!-- TODO: URL needs to prompt filter for internships -->
  <a class="cta" href="#meetus">Meet us on Campus</a>
</section>

{% endblock %}
