{% extends "base.jinja" %}

{% set meta_title = "Mozilla Careers &mdash; Experience an internship at Mozilla" %}
{% set meta_description = "Mozilla Careers &mdash; Interns at Mozilla work alongside industry leaders on meaningful projects like online privacy protection." %}

{% block body_class %}internships-page{% endblock %}

{% block site_css %}
{{ super() }}
<link href="{{ static('css/internships.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

version

{% endblock %}
