{% extends "base.html" %}

{% block page_title %}{{ _('Mozilla Jobs &mdash; Error') }}{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1 class="home-header">{{ _('Sorry, but something went wrong!') }}</h1>

    <p>
      {% trans home_url=url('careers.home') %}
        Sorry, but something went wrong on our end and we couldn't process
        your request. You can reload the page to try again, or
        <a href="{{ home_url }}">check out all the listings</a> for all
        careers at Mozilla.
      {% endtrans %}
    </p>
  </div>
{% endblock %}
