@font-face {
    font-family: 'Open Sans Light';
    font-display: 'fallback';
    src: url("/static/fonts/opensans-light.2120033991a4.woff2") format('woff2'),
         url("/static/fonts/opensans-light.c709d7bf4556.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url("/static/fonts/opensans-regular.668362de763a.woff2") format('woff2'),
         url("/static/fonts/opensans-regular.fe6f746bb376.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url("/static/fonts/opensans-lightitalic.580ce2d5ac1d.woff2") format('woff2'),
         url("/static/fonts/opensans-lightitalic.e3fb6f344bae.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans-regular.668362de763a.woff2") format('woff2'),
         url("/static/fonts/opensans-regular.fe6f746bb376.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans-semibold.ca624b3a4a97.woff2") format('woff2'),
         url("/static/fonts/opensans-semibold.3a18a24d16cb.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans-italic.c86748d08341.woff2") format('woff2'),
         url("/static/fonts/opensans-italic.23d9589c3efb.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla';
    src: url("/static/fonts/ZillaSlab-Regular.a6e5f0564721.woff2") format('woff2'),
         url("/static/fonts/ZillaSlab-Regular.73e34125ae80.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla';
    src: url("/static/fonts/ZillaSlab-Bold.5660aeb3b595.woff2") format('woff2'),
         url("/static/fonts/ZillaSlab-Bold.b34a9fbd7855.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla';
    src: url("/static/fonts/ZillaSlab-Italic.9ecd00812efd.woff2") format('woff2'),
         url("/static/fonts/ZillaSlab-Italic.f0eb309d388d.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla';
    src: url("/static/fonts/ZillaSlab-BoldItalic.200c68f070d4.woff2") format('woff2'),
         url("/static/fonts/ZillaSlab-BoldItalic.9574b5964e5c.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:url("/static/fonts/icomoon/icomoon.2e6d7ddbe768.eot");
    src:url("/static/fonts/icomoon/icomoon.2e6d7ddbe768.eot?#iefix") format('embedded-opentype'),
        url("/static/fonts/icomoon/icomoon.c51c98ec32dc.woff") format('woff'),
        url("/static/fonts/icomoon/icomoon.6fb8316f6bda.ttf") format('truetype'),
        url("/static/fonts/icomoon/icomoon.a2fc62ea7e37.svg#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

/* // Set new HTML5 elements to block or inline-block for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, main, nav, section, summary {
    display: block;
}

audio, video, canvas {
    display: inline-block;
}

html, body, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, hr,
p, pre, blockquote, figure, figcaption,
table, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote, q {
    quotes: '' '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, iframe, a img {
    border: 0;
}

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

img, video, object, embed {
    -ms-interpolation-mode: bicubic;
    height: auto;
    max-width: 100%;
}
