/*  -------------------------------------------------------------------
    Elements using font icons
    ------------------------------------------------------------------- */
.listings-filters-head > button:before,
.listings-filters-head > button:after,
.listings-filter > label:before,
.listings-filter > label:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*  -------------------------------------------------------------------
    Listings
    - no media queries gets a lightly styled table
    - mobile gets vertical list with filters in a drop down menu
    - tablet and desktop have filters aligned across top
      - table is styled as a table
      - filters are styled by absolutly positioning a transparent <select> over its
        styled <label>
        - with js enabled this goes further and adds a styled <span> which the js
          updates with the currently selected <option> text
    ------------------------------------------------------------------- */

#listings > .contain {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.listings-head {
    margin-top: 0;
    font-size: 26px;
}

#listings-intro {
    height: 303px;
    background: #626a71 top center no-repeat;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

    .listings-intro-head {
        margin: 0 0 20px 0;
        padding-top: 70px;
        font-family: 'Open Sans Light', sans-serif;
        font-size: 32px;
        letter-spacing: -1px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }

    .listings-intro-body {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 480px;
    }

#listings {
    overflow: hidden; _overflow: visible; zoom: 1; /* clearfix */
}

.listings-filter-mask {display: none;}

#listings-positions {
    width: 100%;
}

#listings-positions th {
    padding-bottom: 5px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}

#listings-positions th,
#listings-positions td {
    padding-left: 20px;
    font-size: 15px;
}
    #listings-positions th:first-child
    #listings-positions td:first-child {
        padding-left: 0;
    }

.moz-no-touch #listings-positions a {
    color: #4d4e53;
}
    .js-enabled #listings-positions a:hover,
    .js-enabled #listings-positions a:focus,
    .js-enabled #listings-positions a:active  {
        color: #0096dd;
    }
.js-enabled #listings-positions tbody tr.position:hover,
.js-enabled #listings-positions tbody tr.position:focus,
.js-enabled #listings-positions tbody tr.position:active,
.js-enabled #listings-positions tbody tr.position:hover a,
.js-enabled #listings-positions tbody tr.position:focus a,
.js-enabled #listings-positions tbody tr.position:active a {
    color: #0096dd;
    cursor: pointer;
}

#listings-positions .hidden {
    display: none;
}


@media (max-width:320px) {
    #listings-intro {
        background-image: url(/static/img/listings-banner-320.jpg);
    }
}

@media (max-width:680px) {

    #listings-intro {
        background-image: url(/static/img/listings-banner-680.jpg);
    }

    #listings-filters {
        background-color: #4d4e53;
        color: #fff;
        font-size: 13px;
    }

        .js-enabled #listings-filters {
            max-height: 47px;
            overflow: hidden;
            -webkit-transition: max-height 1s;
                    transition: max-height 1s;
        }
             .js-enabled #listings-filters.open {
                 max-height: 400px;
             }

    .listings-filters-head {
        position: relative;
        height: 23px;
        margin: 0;
        border-bottom: 1px solid #f2f0e8;
        padding: 12px 15px;
        color: #f2f0e8;
        line-height: 23px;
    }

        .listings-filters-head > button {
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            overflow: hidden;
            border: 0;
            padding: 47px 0 0 0;
            background-color:transparent;
        }

            .listings-filters-head > button:before,
            .listings-filters-head > button:after {
                content: '\e005';
                position: absolute;
                top: 0;
                right: 15px;
                width: 19px;
                font-size: 20px;
                color: #7f8089;
                line-height: 47px;
                text-align:center;
            }

            .listings-filters-head > button:after {
                content: '\e015';
                color: #4d4e53;
                width: 17px;
                font-size: 12px;
                line-height: 49px;
            }

                #listings-filters.open .listings-filters-head > button:after {
                    content: '\e016';
                }

    .listings-filter {
        position: relative;
        padding: 45px 15px 15px 15px;
        border-bottom: 1px solid #7f8089;
        background: #616268;
    }

        .listings-filter > label{
            position: absolute;
            top: 20px;
            left: 15px;
            display: block;
            padding-bottom: 10px;
            line-height: 1;
        }

        .listings-filter > select {
            width: 100%;
            height: 33px;
            padding-top: 6px;
            -webkit-appearance: menulist-button;
        }

    #listings-positions {
        margin: 20px 0;
    }

        #listings-positions,
        #listings-positions tbody,
        #listings-positions tr,
        #listings-positions th,
        #listings-positions td {
            display: block;
            float: left; /* for IE9 to make the display stick */
            width: 100%; /* for IE9 to compensate for beign floated */
        }

        #listings-positions thead {
            display: none;
        }

        #listings-positions tr {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            box-shadow: inset 0 -1px 0 0 #f8f7f4;
            margin: 0; /* for IE9 */
            padding: 12px 10px;
            border-bottom: 1px solid #deddd3;
        }

        #listings-positions td {
            padding: 5px 0 0 0;
            font-size: 13px;
            line-height: 1.2;
        }

            #listings-positions td:first-child {
                padding-top: 0;
                font-size: 15px;
            }
}

@media (min-width: 681px) {

    #listings-intro {
        height: 298px;
        background-image: url(/static/img/listings-banner-920.jpg);
    }

    .listings-intro-head {
        font-size: 51px;
        letter-spacing: -2px;
    }

    .listings-intro-body {
        width: 54.2%;
    }

    #listings {
        padding-bottom: 145px;
        background: url(/static/img/listings-bg-tablet.jpg) bottom center no-repeat;
    }

    #listings > .contain {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .listings-head {
        float:left;
        margin: 0;
    }

    #listings-filters {
        position: absolute;
        top: 44px;
        right: 3px;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
        text-align: right;
        font-size: 0; /* to remove whitespace between blocks */
    }

    .listings-filters-head,
    .listings-done {
        display: none;
    }

    .listings-filter {
        position: relative;
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 25.7%;
        height: 26px;
        overflow: hidden;
        padding-left: 20px;
    }

        .listings-filter > label,
        .listings-filter-mask {
            position: absolute;
            top: 0;
            left: 20px;
            display: block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 26px;
            padding: 0 0 0 15px;
            background-color: #4d4e53;
            color: #fff;
            font-size: 12px;
            line-height: 26px;
            text-align: left;
        }
            .listings-filter > label:before,
            .listings-filter > label:after {
                content: '\e005';
                position: absolute;
                top: 1px;
                right: 20px;
                z-index: 1;
                width: 30px;
                font-size: 14px;
                color: #7f8089;
                line-height: 24px;
                text-align:center;
            }
             .listings-filter > label:before {
                background-color: #4d4e53;
            }

            .listings-filter > label:after {
                content: '\e015';
                color: #4d4e53;
                width: 29px;
                font-size: 9px;
            }

            .listings-filter > select:hover ~ label,
            .listings-filter > select:focus ~ label,
            .listings-filter > select:hover ~ .listings-filter-mask,
            .listings-filter > select:focus ~ .listings-filter-mask {
                background-color: #7f8089;
            }

        .listings-filter-mask {
        }

            .listings-filter-mask + label {
                background: transparent;
                font-size: 0;
            }

        .listings-filter > select {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 26px;
            opacity: 0;
            -webkit-appearance: menulist-button;
               -moz-appearance: menulist-button;
                    appearance: menulist-button;
        }

    #listings-positions {
        clear: both;
        padding-top: 40px;
    }

        #listings-positions th,
        #listings-positions td {
            box-shadow: inset 0 -1px 0 0 #f8f7f4;
            border-bottom: 1px solid #deddd3;
            font-size: 13px;
        }
            #listings-positions tr > th:first-child,
            #listings-positions tr > td:first-child {
                padding-left: 0;
            }

            #listings-positions td {
                padding: 10px 0 10px 20px;
                vertical-align: top;
            }

    #listings-positions .title {
        width: 31.6%;
    }

    #listings-positions .location {
       width: 25.7%;
    }

    #listings-positions .type {
        width: 17%;
    }

    #listings-positions .name {
        width: 25.7%;
    }

}

@media (min-width: 921px) {

    #listings-intro {
        height: 399px;
        background-image: url(/static/img/listings-banner-1280.jpg);
        font-size: 18px;
    }

    .listings-intro-head {
        padding-top: 90px;
        font-size: 68px;
        letter-spacing: -3px;
    }

     #listings {
        padding-bottom: 200px;
        background: url(/static/img/listings-bg-desktop.jpg) bottom center no-repeat;
    }

    #listings > .contain {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .listings-head {
        font-size: 38px;
    }

    #listings-filters {
        top: 60px;
        right: 3px;

    }

    .listings-filter {
        height: 34px;
    }

        .listings-filter > label,
        .listings-filter-mask {
            height: 34px;
            line-height: 34px;
        }

            .listings-filter > label:before,
            .listings-filter > label:after {
                top: -1px;
                right: 20px;
                width: 40px;
                font-size: 21px;
                line-height: 34px;
            }

            .listings-filter > label:after {
                width: 39px;
                font-size: 13px;
            }

        .listings-filter > select {
                height: 34px;
        }

    #listings-positions {
        padding-top: 50px;
    }

        #listings-positions th {
            font-size: 14px;
        }

        #listings-positions td {
            padding: 15px 0 15px 20px;
            font-size: 13px;
        }

        #listings-positions .title {
            font-size: 15px;
        }

}

@media (min-width: 1281px) {
    #listings-intro {
        background-image: url(/static/img/listings-banner-1680.jpg);
    }
}

@media (min-width: 1681px) {
    #listings-intro {
        background-image: url(/static/img/listings-banner-2560.jpg);
    }
}
