{% import 'university/macros.jinja' as macros %}

{% extends "base.jinja" %}

{% block meta_description %}TODO{% endblock %}
{% block page_title %}TODO{% endblock %}

{% block body_class %}university-page{% endblock %}

{% block content %}

<section class="mzp-c-hero mzp-t-dark page-hero">
  <div class="mzp-l-content">
    <div class="mzp-c-hero-body">
      <h1 class="mzp-c-hero-title">Real impact.</h1>

      <div class="mzp-c-hero-desc">
        <p>
          Ready to work on meaningful projects that will reshape privacy and
          safety on the internet? Mozilla is the right spot for you.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="what-to-expect mzp-c-call-out">
  {{ macros.internships_apply(open_for_applications) }}

  <div class="centered">
    <h2>What to Expect</h2>

    <p>
      Besides working with the brightest and kindest minds on the internet
      &mdash; here’s what else you’ll do.
    </p>
  </div>
  
  <section class="mzp-c-billboard mzp-l-billboard-left">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/truly-mission-driven.png') }}" srcset="{{ static('img/truly-mission-driven-high-res.png') }} 1.5x" alt="" height="309" width="236" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h3 class="mzp-c-billboard-title">Contribute to important projects</h3>
          <p class="mzp-c-billboard-desc">
            Working alongside fellow Mozillians, you'll be hands-on and all-in
            on projects.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-billboard mzp-l-billboard-right">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/the-web-the-way-it-should-be.png') }}" srcset="{{ static('img/the-web-the-way-it-should-be-high-res.png') }} 1.5x" alt="" height="319" width="270" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h3 class="mzp-c-billboard-title">Become part of the team</h3>
          <p class="mzp-c-billboard-desc">
            At Mozilla, interns essential members of our teams and work on
            initiatives that have true impact.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-billboard mzp-l-billboard-left">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/beyond-the-browser.png') }}" srcset="{{ static('img/beyond-the-browser-high-res.png') }} 1.5x" alt="" height="358" width="358" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h3 class="mzp-c-billboard-title">Gain a mentor</h3>
          <p class="mzp-c-billboard-desc">
            You'll be mentored by a teammate, who will answer your questions
            and provide 1-on-1 support.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-billboard mzp-l-billboard-right">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/the-web-the-way-it-should-be.png') }}" srcset="{{ static('img/the-web-the-way-it-should-be-high-res.png') }} 1.5x" alt="" height="319" width="270" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h3 class="mzp-c-billboard-title">The benefits</h3>
          <p class="mzp-c-billboard-desc">
            You’ll receive competitive pay, housing, transportation to/from
            the internship location, and more.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-billboard mzp-l-billboard-left">
    <div class="mzp-c-billboard-image-container">
      <img class="mzp-c-billboard-image" src="{{ static('img/beyond-the-browser.png') }}" srcset="{{ static('img/beyond-the-browser-high-res.png') }} 1.5x" alt="" height="358" width="358" />
    </div>
    <div class="mzp-c-billboard-content">
      <div class="mzp-c-billboard-content-container">
        <div class="mzp-c-billboard-content-inner">
          <h3 class="mzp-c-billboard-title">It’s not all work</h3>
          <p class="mzp-c-billboard-desc">
            Get to know your fellow interns with several Mozilla-sponsored
            outings.
          </p>
        </div>
      </div>
    </div>
  </section>

  {{ macros.internships_apply(open_for_applications) }}
</section>

<br><br>

<section class="application-process">
  <div class="centered">
    <h2>Application process</h2>

    <p>
      Invest in your future and the future of internet privacy with a Mozilla
      internship.
    </p>
  </div>

  <div class="mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-extra-small mzp-has-aspect-1-1">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/step1.gif') }}" srcset="{{ static('img/university/step1-high-res.gif') }} 1.5x" alt="" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          Submit your resume. Our team will then review submissions, narrow the
          list, and contact candidates.
        </div>
      </div>
    </div>

    <div class="mzp-c-card mzp-c-card-extra-small mzp-has-aspect-1-1">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/step2.gif') }}" srcset="{{ static('img/university/step2-high-res.gif') }} 1.5x" alt="" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          You'll take either a HackerRank challenge or submit additional
          documents for non-technical internships.
        </div>
      </div>
    </div>

    <div class="mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-extra-small mzp-has-aspect-1-1">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/step3.gif') }}" srcset="{{ static('img/university/step3-high-res.gif') }} 1.5x" alt="" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          Next, you'll have 2-3 technical and behavioral interviews with team
          members (coding and situation questions may be included).
        </div>
      </div>
    </div>

    <div class="mzp-c-card mzp-c-card-extra-small mzp-has-aspect-1-1">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/step4.gif') }}" srcset="{{ static('img/university/step4-high-res.gif') }} 1.5x" alt="" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          Offer decision. We'll contact you with your offer. Pack your bags,
          it's officially time to celebrate!
        </div>
      </div>
    </div>
  </div>

  {{ macros.internships_apply(open_for_applications) }}
</section>

<section class="past-interns mzp-c-call-out">
  <br><br>
  <div class="centered">
    <h2>Meet some of our past Mozillia internship graduates</h2>

    <p>
      See what some of our past interns are saying about their Mozilla experience.
    </p>
  </div>

  <ul class="mzp-l-card-third">
    <li class="mzp-c-card">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/julia-cambre.jpg') }}" srcset="{{ static('img/university/julia-cambre-high-res.jpg') }} 1.5x" alt="TODO" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          <blockquote>
            "This summer feels like the start of an even longer-term
            collaboration."
          </blockquote>
          <small>&ndash; Julia Cambre</small>
          <p>
            PhD student, Computer Science, Carnegie Mellon University
            <br>
            Mozilla Project: Speech and Voice Technology
          </p>
        </div>
      </div>
    </li>
    <li class="mzp-c-card">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/abdoulaye-oumar-ly.jpg') }}" srcset="{{ static('img/university/abdoulaye-oumar-ly-high-res.jpg') }} 1.5x" alt="TODO" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          <blockquote>
            "I'm surprised at how down-to-earth and helpful people are at
            Mozilla. You feel like you're more than an intern. While many
            other companies just have interns submit patches, at Mozilla
            I also reviewed them."
          </blockquote>
          <small>&ndash; Abdoulaye Oumar Ly</small>
          <p>
            CS Graduate student, Université de Moncton
            <br>
            Mozilla Project: Fission (site isolation)
          </p>
        </div>
      </div>
    </li>
    <li class="mzp-c-card">
      <div class="mzp-c-card-media-wrapper">
        <div class="lazy-image-container">
          <img src="{{ static('img/university/maliha-islam.jpg') }}" srcset="{{ static('img/university/maliha-islam-high-res.jpg') }} 1.5x" alt="TODO" class="mzp-c-card-image" />
        </div>
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-desc">
          <blockquote>
            "Everyone's opinion is taken into account for the final product.
            It's been really interesting to see how people consider something
            from different angles."
          </blockquote>
          <small>&ndash; Maliha Islam</small>
          <p>
            Engineering Science student, University of Toronto
            <br>
            Mozilla Project: Color Accessibility: Firefox Developer Tools
          </p>
        </div>
      </div>
    </li>
  </ul>

  {{ macros.internships_apply(open_for_applications) }}
</section>

{% endblock %}
