{% extends 'base.html' %}

{% block page_title %}Mozilla University{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('university') }}
{% endblock %}

{% block site_ie8 %}
  {{ super() }}
  {{ css('university-ie8') }}
{% endblock %}

{% block content %}

  <section id="uintro">
    <h2>Once a Mozillian,<br> always a Mozillian</h2>
    <div class="contain">
      <p>
        Mozilla isn’t just a great place to intern. It’s an experience you’ll carry with you throughout your career.
      </p>
      <p>
        From the people you’ll meet and collaborate with — a passionate global community of technologists, thinkers and builders — to the opportunities you’ll have to learn and make the Web a better place, it’s safe to say your internship with Mozilla will be unlike any other.
      </p>
    </div>
    <a class="cta" href="/listings">Apply Now</a> <!-- TODO: URL needs to prompt filter for internships -->
    <a class="cta" href="#meetus">Meet us on Campus</a>
  </section>
  <section id="different">
    <div class="contain">
      <h2 class="different-head">It's different here. Good different.</h2>
      <p class="different-subhead">
        As part of our internship program, there are things you’ll experience — and things you’ll never experience.
      </p>
      <div id="different-lists">
        <div id="different-will" class="different-list different-list-current">
          <h3>You will</h3>
          <ul>
            <li>Be mentored 1:1 by somebody brilliant.</li>
            <li>Work on and impact cool projects like Firefox OS and Persona.</li>
            <li>Get to take part in lots of awesome activities with your fellow interns.</li>
            <li>Be able to blog about your projects and share them with the outside world.</li>
            <li>No longer be the smartest person in the room.</li>
            <li>Be part of our community care program — aka, Army of Awesome.</li>
          </ul>
        </div>
        <div id="different-not" class="different-list">
          <h3>You will not</h3>
          <ul>
            <li>Ever be bored. We just won’t let that happen.</li>
            <li>Leave without having learned a lot.</li>
            <li>Be able to hide. At Mozilla, we work in the open and share with our community.</li>
            <li>Go hungry. There are snacks and drinks everywhere!</li>
            <li>Be able to stop telling everyone you know how great it is to be a Mozillian.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="know">
  <div class="contain">
    <h2 class="know-head">Things you&rsquo;ll want to know</h2>
    <div id="know-boxes">
      <div class="know-box">
        <h3><strong>When</strong> should I apply?</h3>
        <p>
          We begin accepting internship applications in September and are typically finished recruiting for the calendar year by the end of April. While there is no set application deadline, we have a limited number of positions open each year, so apply early! All open positions are posted on our listings page.
        </p>
      </div>
      <div class="know-box">
        <h3><strong>What</strong> is the interview process like?</h3>
        <p>
          Our interview process is pretty straightforward. You can expect to have 3&ndash;5 technical interviews with live coding questions, usually done via Skype. We think our interviewers are pretty tough, but the students who make it through usually tell us they had fun. Weird? Maybe. But at Mozilla, weird is normal.
        </p>
      </div>
      <div class="know-box">
        <h3><strong>Will</strong> I get paid?</h3>
        <p>
          Yes! We offer a competitive stipend in addition to housing, immigration and relocation assistance. And of course, lots of swag!
        </p>
      </div>
      <div class="know-box">
        <h3><strong>Where</strong> will I be?</h3>
        <p>
          We host interns at have several offices around the world: Mountain View, San Francisco, Toronto and Paris. Your internship location will be based on the location of your team and/or your mentor, with whom you'll work closely.
        </p>
      </div>
    </div>
    <a class="cta" href="/listings">Apply Now</a> <!-- TODO: URL needs to prompt filter for internships -->
  </div>

</section>

  {# This section is placeholder HTML for now. #}
  <section id="events">
    <div class="contain">
      <h2 class="events-head">Come meet us in person</h2>
      <table id="events-table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <!-- test data -->
          <tr>
            <td class="event-date">Sept 6–9, 2013</td>
            <td class="event-name">University of Pennsylvania, PennApps Hackathon</td>
            <td class="event-location">Philadelphia</td>
          </tr>
          <tr>
            <td class="event-date">Sept 9, 2013</td>
            <td class="event-name">Georgia Tech, Fall College of Computing Career Fair</td>
            <td class="event-location">Atlanta</td>
          </tr>
          <tr>
            <td class="event-date">Sept 17, 2013</td>
            <td class="event-name">Carnegie Mellon University, Technical Opportunities Conference</td>
            <td class="event-location">Pittsburgh</td>
          </tr>
          <tr>
            <td class="event-date">Sept 18, 2013</td>
            <td class="event-name">Brown, General Career Fair</td>
            <td class="event-location">Providence</td>
          </tr>
          <tr>
            <td class="event-date">Sept 20, 2013</td>
            <td class="event-name">MIT, Fall Career Fair</td>
            <td class="event-location">Cambridge</td>
          </tr>
          <tr>
            <td class="event-date">Sept 25, 2013</td>
            <td class="event-name">UC Berkeley, EECS Career Fair</td>
            <td class="event-location">Berkeley</td>
          </tr>
          <tr>
            <td class="event-date">Oct 10, 2013</td>
            <td class="event-name">Polytechnic University of Bucharest in conjunction with ROSEdu, Tech Talk and Info Session</td>
            <td class="event-location">Bucharest</td>
          </tr>
          <tr>
            <td class="event-date">Oct 12, 2013</td>
            <td class="event-name">Northwestern University, Industry Day</td>
            <td class="event-location">Evanston</td>
          </tr>
          <tr>
            <td class="event-date">Oct 17, 2013</td>
            <td class="event-name">Oregon State University, Open Source Lab Beaver BarCamp</td>
            <td class="event-location">Corvallis</td>
          </tr>
          <tr>
            <td class="event-date">Jan, 2014 (date TBD)</td>
            <td class="event-name">University of Waterloo, Tech Talk and Info Session</td>
            <td class="event-location">Waterloo</td>
          </tr>
          <!-- /test data -->
          {% for event in events %}
            <tr>
              <td class="event-date">{{ event.date }}</td>
              <td class="event-name">{{ event.name }}</td>
              <td class="event-location">{{ event.location }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

<p>
&nbsp;
</p>

{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('university') }}
{% endblock %}
