{% extends 'base.html' %}

{% block page_title %}Mozilla University{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('university') }}
{% endblock %}

{% block site_ie8 %}
  {{ super() }}
  {{ css('university-ie8') }}
{% endblock %}

{% block content %}

  <section id="uintro">
    <h2>Once a Mozillian,<br> always a Mozillian</h2>
    <div class="contain">
      <p>
        Mozilla isn’t just a great place to intern. It’s an experience you’ll carry with you throughout your career.
      </p>
      <p>
        From the people you’ll meet and collaborate with — a passionate global community of technologists, thinkers and builders — to the opportunities you’ll have to learn and make the Web a better place, it’s safe to say your internship with Mozilla will be unlike any other.
      </p>
    </div>
    <a class="cta" href="/listings">Apply Now</a> <!-- TODO: URL needs to prompt filter for internships -->
    <a class="cta" href="#meetus">Meet us on Campus</a>
  </section>
  <section id="different">
    <div class="contain">
      <h2 class="different-head">It's different here. Good different.</h2>
      <p class="different-subhead">
        As part of our internship program, there are things you’ll experience — and things you’ll never experience.
      </p>
      <div id="different-lists">
        <div id="different-will" class="different-list different-list-current">
          <h3>You will</h3>
          <ul>
            <li>Be mentored 1:1 by somebody brilliant.</li>
            <li>Work on and impact cool projects like Firefox OS and Persona.</li>
            <li>Get to take part in lots of awesome activities with your fellow interns.</li>
            <li>Be able to blog about your projects and share them with the outside world.</li>
            <li>No longer be the smartest person in the room.</li>
            <li>Be part of our community care program — aka, Army of Awesome.</li>
          </ul>
        </div>
        <div id="different-not" class="different-list">
          <h3>You will not</h3>
          <ul>
            <li>Ever be bored. We just won’t let that happen.</li>
            <li>Leave without having learned a lot.</li>
            <li>Be able to hide. At Mozilla, we work in the open and share with our community.</li>
            <li>Go hungry. There are snacks and drinks everywhere!</li>
            <li>Be able to stop telling everyone you know how great it is to be a Mozillian.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="know">
  <div class="contain">
    <h2 class="know-head">Things you&rsquo;ll want to know</h2>
    <div id="know-boxes">
      <div class="know-box">
        <h3><strong>When</strong> should I apply?</h3>
        <p>
          We begin accepting internship applications in September and are typically finished recruiting for the calendar year by the end of April. While there is no set application deadline, we have a limited number of positions open each year, so apply early! All open positions are posted on our listings page.
        </p>
      </div>
      <div class="know-box">
        <h3><strong>What</strong> is the interview process like?</h3>
        <p>
          Our interview process is pretty straightforward. You can expect to have 3&ndash;5 technical interviews with live coding questions, usually done via Skype. We think our interviewers are pretty tough, but the students who make it through usually tell us they had fun. Weird? Maybe. But at Mozilla, weird is normal.
        </p>
      </div>
      <div class="know-box">
        <h3><strong>Will</strong> I get paid?</h3>
        <p>
          Yes! We offer a competitive stipend in addition to housing, immigration and relocation assistance. And of course, lots of swag!
        </p>
      </div>
      <div class="know-box">
        <h3><strong>Where</strong> will I be?</h3>
        <p>
          We host interns at have several offices around the world: Mountain View, San Francisco, Toronto and Paris. Your internship location will be based on the location of your team and/or your mentor, with whom you'll work closely.
        </p>
      </div>
    </div>
    <a class="cta" href="/listings">Apply Now</a> <!-- TODO: URL needs to prompt filter for internships -->
  </div>
</section>

  {# This section is placeholder HTML for now. #}
  <section id="events">
    <table>
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Location</th>
      </tr>
      {% for event in events %}
        <tr>
          <td>{{ event.date }}</td>
          <td>{{ event.name }}</td>
          <td>{{ event.location }}</td>
        </tr>
      {% endfor %}
    </table>
  </section>

<section id="apply">
  <h2 class="ally">Apply</h2>
  <!-- openings -->
  <div class="contain apply-open">
    <h3>Ready to start your Mozilla internship?</h3>
    <a class="cta" href="">Apply Now</a>
  </div>
  <!-- no openings -->
  <div class="contain apply-closed">
    <h3 class="apply">We don't have any internship positions open right now.</h3>
    <p>But check back with us soon! We typically accept applications from September through April. If you'd like to get a head start on applying, feel free to <a href="mailto:university@mozilla.com">email us</a> your resume and tell us why you are interested in an internship with Mozilla.</p>
 </div>
</section>


{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('university') }}
{% endblock %}
