{% extends 'base.html' %}

{% set navbar_section = 'university' %}
{% block page_title %}Mozilla University{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('university') }}
{% endblock %}

{% block site_ie8 %}
  {{ super() }}
  {{ css('university-ie8') }}
  {{ js('university-ie8') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <!--[if gt IE 8]> <!-- -->
  {{ js('university') }}
  <!-- <![endif]-->
  {{ js('university_links') }}
{% endblock %}

{% block body_data %}
  {{ super() }}
  data-open-for-applications="{{ 'true' if open_for_applications else 'false' }}"
{% endblock %}

{% block content %}
  <section id="uintro">
    <h2>Once a Mozillian,<br> always a Mozillian</h2>
    <div class="contain">
      <p>
        Mozilla isn’t just a great place to intern. It’s an experience you’ll carry with you throughout your career.
      </p>
      <p>
        From the people you’ll meet and collaborate with — a passionate global community of technologists, thinkers and builders — to the opportunities you’ll have to learn and make the Web a better place, it’s safe to say your internship with Mozilla will be unlike any other.
      </p>
    </div>
    <a class="cta listings-link ga-apply-banner" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply Now</a>
    <a class="cta meet-us-on-campus" href="#meetus">Meet us on Campus</a>
  </section>
  <section id="different">
    <div class="different-lists-head">
      <div class="contain">
        <h2 class="different-head">It's different here. Good different.</h2>
        <p class="different-subhead">
          As part of our internship program, there are things you’ll experience — and things you’ll never experience.
        </p>
      </div>
    </div>
    <div class="contain">
      <div id="different-lists">
        <div id="different-will" class="different-list different-list-current">
          <h3>You will</h3>
          <ul>
            <li>Be mentored 1:1 by somebody brilliant.</li>
            <li>Work on and impact cool projects like Firefox OS and Persona.</li>
            <li>Get to take part in lots of awesome activities with your fellow interns.</li>
            <li>Be able to blog about your projects and share them with the outside world.</li>
            <li>No longer be the smartest person in the room.</li>
            <li>Be part of our community care program — aka, Army of Awesome.</li>
          </ul>
        </div>
        <div id="different-not" class="different-list">
          <h3>You will not</h3>
          <ul>
            <li>Ever be bored. We just won’t let that happen.</li>
            <li>Leave without having learned a lot.</li>
            <li>Be able to hide. At Mozilla, we work in the open and share with our community.</li>
            <li>Go hungry. There are snacks and drinks everywhere!</li>
            <li>Be able to stop telling everyone you know how great it is to be a Mozillian.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="know">
  <div class="contain">
    <h2 class="know-head">Things you&rsquo;ll want to know</h2>
    <div id="know-boxes">
      <div class="know-box">
        <h3><strong>When</strong> should I apply?</h3>
        <p>
          We begin accepting internship applications in September and are typically finished recruiting for the calendar year by the end of April. While there is no set application deadline, we have a limited number of positions open each year, so apply early! All open positions are posted on our listings page.
        </p>
      </div>
      <div class="know-box">
        <h3><strong>What</strong> is the interview process like?</h3>
        <p>
          Our interview process is pretty straightforward. You can expect to have 3&ndash;5 technical interviews with live coding questions, usually done via Skype. We think our interviewers are pretty tough, but the students who make it through usually tell us they had fun. Weird? Maybe. But at Mozilla, weird is normal.
        </p>
      </div>
      <div class="know-box">
        <h3><strong>Will</strong> I get paid?</h3>
        <p>
          Yes! We offer a competitive stipend in addition to housing, immigration and relocation assistance. And of course, lots of swag!
        </p>
      </div>
      <div class="know-box">
        <h3><strong>Where</strong> will I be?</h3>
        <p>
          We host interns at our several offices around the world: Mountain View, San Francisco, Toronto and Paris. Your internship location will be based on the location of your team and/or your mentor, with whom you'll work closely.
        </p>
      </div>
    </div>
    <a class="cta listings-link ga-want-to-know" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply Now</a>
  </div>
</section>

<section id="videos">
  <div class="contain">
    <h2 class="videos-head">Check out what our interns have been working on</h2>
    <div class="videos-players">
      <figure class="video video-current">
        <video id="video-hannah" class="video-js vjs-sandstone-skin"
          controls preload="none" width="auto" height="auto">
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/Hannah-Quay.mp4" type='video/mp4' />
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/Hannah-Quay.webm" type='video/webm' />
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/Hannah-Quay.ogv" type='video/ogg' />
        </video>
        <figcaption>Improving User Adoption of Persona - Hannah Quay de la Vallee</figcaption>
      </figure>

      <figure class="video">
        <video id="video-mike" class="video-js vjs-sandstone-skin"
          controls preload="none" width="auto" height="auto">
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/Mike-Hordecki.mp4" type='video/mp4' />
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/Mike-Hordecki.webm" type='video/webm' />
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/Mike-Hordecki.ogv" type='video/ogg' />
        </video>
        <figcaption>Add-on Debugging Made Easy - Mike Hordecki</figcaption>
      </figure>
      <figure class="video">
        <video id="video-james" class="video-js vjs-sandstone-skin"
          controls preload="none" width="auto" height="auto">
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/James-Ellis.mp4" type='video/mp4' />
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/James-Ellis.webm" type='video/webm' />
         <source src="//videos.cdn.mozilla.net/uploads/hr/intern-presentations/James-Ellis.ogv" type='video/ogg' />
        </video>
        <figcaption>The Life and Death of Tabs - James Ellis</figcaption>
      </figure>

    </div>
    <div class="videos-thumbs">
        <button class="video-thumb video-thumb-hannah video-thumb-current" data-video-id="video-hannah">
          <span>Improving User Adoption of Persona - Hannah Quay de la Vallee</span>
        </button>
        <button class="video-thumb video-thumb-mike" data-video-id="video-mike">
          <span>Add-on Debugging Made Easy - Mike Hordecki</span>
        </button>
        <button class="video-thumb video-thumb-james" data-video-id="video-james">
          <span>The Life and Death of Tabs - James Ellis</span>
        </button>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="testimonials">
    <figure class="testimonial testimonial-current">
      <blockquote>"You get to work on highly relevant projects with a team of extremely smart yet fun people. My experience here was nothing short of amazing."</blockquote>
      <img src="/static/img/shilpan-320.jpg" alt="">
      <figcaption><strong>Shilpan Bhagat</strong> &mdash; Mobile Front End Engineering Intern</figcaption>
    </figure>

    <figure class="testimonial">
      <blockquote>"Interning at Mozilla was one of the best things I have done for my personal and professional development. A truly rewarding experience."</blockquote>
      <img src="/static/img/kelly-320.jpg" alt="">
      <figcaption><strong>Joe Kelly</strong> &mdash; Metrics Intern</figcaption>
    </figure>

    <figure class="testimonial">
      <blockquote>"My intern always asked good questions — which kept me on my toes — and had creative ways to approach a problem we were trying to solve. It was fantastic!"</blockquote>
      <img src="/static/img/christina-320.jpg" alt="">
      <figcaption><strong>Christina Choi</strong> &mdash; Mentor</figcaption>
    </figure>
  </div>
</section>

<section id="meetus">
  <div class="contain">
    <h2 class="events-head">Come meet us in person</h2>
    {% if events %}
    <table id="events-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Event</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td class="event-date">{{ event.date }}</td>
            <td class="event-name">{{ event.name }}</td>
            <td class="event-location">{{ event.location }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no upcoming events at this time.</p>
    {% endif %}
  </div>
</section>

<section id="gallery">
  <h2 class="ally">Photo Gallery</h2>
  <p class="ally">Gallery of photos showing various people who work at Mozilla.</p>
  <div class="gallery-wrapper">
    <div class="gallery-frame gallery-frame-1"></div>
    <div class="gallery-frame gallery-frame-2"></div>
    <div class="gallery-frame gallery-frame-3"></div>
    <div class="gallery-frame gallery-frame-4"></div>
    <div class="gallery-frame gallery-frame-5"></div>
    <div class="gallery-frame gallery-frame-6"></div>
    <div class="gallery-frame gallery-frame-7"></div>
    <div class="gallery-frame gallery-frame-8"></div>
    <div class="gallery-frame gallery-frame-9"></div>
    <div class="gallery-frame gallery-frame-10"></div>
  </div>
</section>

<section id="apply">
  <h2 class="ally">Apply</h2>
  {% if open_for_applications %}
    <div class="contain apply-open">
      <h3>Ready to start your Mozilla internship?</h3>
      <a class="cta ga-apply-now" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply Now</a>
    </div>
  {% else %}
    <div class="contain apply-closed">
      <h3 class="apply">We don't have any internship positions open right now.</h3>
      <p>But check back with us soon! We typically accept applications from September through April. If you'd like to get a head start on applying, feel free to <a href="mailto:university@mozilla.com">email us</a> your resume and tell us why you are interested in an internship with Mozilla.</p>
    </div>
  {% endif %}
</section>

{% endblock %}
